.list li a {
  padding-left: 0;
}
.list a:hover {
  padding-left: 20px;
}
.news_list_img {
  width: 300px;
  height: 169px;
}
.news_list_img img {
  width: 100%;
  height: 100%;
}
.date {
  margin-left: 85px;
  margin-right: 65px;
}
.year {
  height: 25px;
  line-height: 25px;
  font-size: 33px;
  margin-bottom: 11px;
}
.day {
  height: 11px;
  line-height: 11px;
  font-size: 15px;
}
@media (max-width: 1220px) {
  .news_list_img {
    width: 220px;
    height: 124px;
  }
  .date {
    margin-left: 45px;
    margin-right: 35px;
  }
  .year {
    font-size: 25px;
  }
}
@media (max-width: 819px) {
  .list li {
    margin-bottom: 30px;
  }
  .list li:last-child {
    margin-bottom: 0;
  }
  .news_list_img {
    width: 100%;
    height: 194px;
    margin-bottom: 20px;
  }
  .list li a {
    display: block;
    padding: 0;
    padding-bottom: 15px;
  }
  .list a:hover {
    padding-left: 0;
  }
  .date {
    float: left;
    margin: 0 15px 0 10px;
  }
  .news_title {
    height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
  }
}
