.list {
  width: 68%;
  color: #394e69;
  margin-bottom: 50px;
}
.list li a {
  padding: 64px 0 51px 0;
  border-bottom: 1px solid #c5dce6;
  transition: all 0.3s ease;
  display: flex;
  align-items: flex-start;
  color: #394e69;
}
.list li:first-child a {
  padding-top: 0;
}
.date {
  color: #186daa;
}
.specific {
  flex: 1;
}
.news_title {
  height: 22px;
  line-height: 22px;
  font-size: 22px;
  margin-bottom: 22px;
  overflow: hidden;
}
.news_content {
  font-size: 17px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: justify;
}
@media (max-width: 819px) {
  .list {
    width: 100%;
  }
  .list li a {
    padding: 15px;
  }
  .news_title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .news_content {
    font-size: 16px;
    line-height: 22px;
  }
}
