.list li a {
  padding-left: 40px;
}
.list a:hover {
  padding-left: 60px;
}
.date {
  margin-right: 40px;
}
.day {
  height: 43px;
  line-height: 43px;
  font-size: 54px;
  color: #186daa;
}
.line {
  width: 88px;
  height: 1px;
  background-color: #186daa;
  margin: 9px 0 14px;
}
.year {
  height: 15px;
  line-height: 15px;
  font-size: 16px;
}
@media (max-width: 819px) {
  .list li a {
    padding-left: 15px;
  }
  .date {
    margin-right: 20px;
  }
  .day {
    height: 30px;
    line-height: 30px;
    font-size: 35px;
  }
  .line {
    width: 70px;
  }
}
