html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  font-family: Microsoft YaHei;
  font-weight: 400;
}

.carousel {
  width: 100%;
  height: 993px;
  position: relative;
}

.burger {
  display: none;
}

.carousel .carousel_bg {
  width: 100%;
  height: 100%;
  position: relative;
  /* z-index: -100; */
}

/* 轮播图样式 */
.SwiperBox {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.imgBox {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

/* 图片默认样式 */
.imgBox img {
  flex-shrink: 0;
  height: 100%;
}

/* 两个按钮共有的样式,也可直接使用箭头图片替代 */
.leftBtn,
.rightBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(109, 109, 109, 0.445);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.leftBtn {
  left: 10px;
}

.rightBtn {
  right: 10px;
}

/* 下方指示器盒子 */
.instBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
}

/* 小圆点 */
.carousel_btn .carousel_btn_item.instActv {
  width: 42px;
  border-radius: 14px;
}

.carousel_btn {
  display: flex;
  position: absolute;
  top: 435px;
  left: 50%;
  transform: translatex(-50%);
}

.carousel_btn_item {
  width: 14px;
  height: 14px;
  background: #ddf5fc;
  opacity: 0.8;
  border-radius: 50%;
  margin-right: 14px;
}

.carousel_btn .carousel_btn_item:last-child {
  margin-right: 0;
}

/* **************** */

.header,
.nav,
.video_area,
.news_head,
.news_body,
.serve_body,
.info_area,
.footer div {
  width: 1200px;
}

.header {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 341px;
  height: 92px;
}

.old_page {
  margin-top: 10px;
  height: 16px;
  line-height: 16px;
  font-size: 15px;
  color: #186daa;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #84c1e9;
  position: absolute;
  top: 131px;
}

ul.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  background: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 0;
  padding: 10px 5% 0;
  box-sizing: border-box;
  box-shadow: 0 0 18px 0 rgb(0 0 0 / 20%);
  animation: dropDown 1s ease-in-out forwards;
}

@keyframes dropDown {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

/* #phoneNav {
  display: none;
} */
.nav > li,
.phoneNav > li {
  height: 19px;
  line-height: 19px;
  font-size: 18px;
  color: #186daa;
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav > li:after,
.phoneNav > li:after {
  content: "";
  position: absolute;
  border-bottom: 4px solid #f19149;
  left: 51%;
  right: 51%;
  bottom: -4px;
  transition: all 0.3s linear;
}

.nav > li.navAct span {
  text-shadow: 2px 2px lightpink;
}

.nav > li.navAct:after,
.phoneNav > li.navAct:after {
  border-bottom: 4px solid #f19149;
  left: 0;
  right: 0;
}

.nav > li:hover:after,
.phoneNav > li:hover:after {
  left: 0;
  right: 0;
}

.nav > li:hover span {
  text-shadow: 2px 2px lightpink;
}

.second_menu {
  visibility: hidden;
  opacity: 0;
  padding: 10px 30px;
  position: absolute;
  top: 32px;
  background-color: rgba(193, 231, 252, 0.5);
}

.second_menu > li {
  width: 120px;
  padding: 20px 10px;
  border-bottom: 1px solid #cde6f7;
  box-sizing: border-box;
}

.second_menu > li:hover {
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.4s ease;
}

.second_menu > li > a {
  display: inline-block;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  color: #186daa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second_menu > li > a > span {
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: #186daa;
}

.nav > li:hover .second_menu {
  visibility: visible;
  opacity: 1;
  transition: all 0.7s ease;
}

.video_area {
  position: absolute;
  top: 505px;
  height: 400px;
  background-color: #186daa;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  display: flex;
}

.video {
  width: 670px;
  height: 100%;
  object-fit: fill;
  position: relative;
  top: -30px;
  left: 20px;
  margin-right: 70px;
}

.video_str {
  width: 460px;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  margin: 38px 0 33px;
}

.arrows span {
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #ffffff;
  opacity: 0.5;
  margin: 0 9px;
}

.arrows_tit {
  height: 37px;
  line-height: 37px;
  font-size: 37px;
  font-weight: bold;
  color: #ffffff;
}

.arrows_txt {
  margin-top: 40px;
  margin-right: 60px;
  height: 120px;
  font-size: 15px;
  color: #b1d8f2;
  line-height: 25px;
  position: relative;
  overflow: hidden;
}

.arrows_txt_carousel {
  position: absolute;
  display: flex;
}

.arrows_txt_carousel > div {
  height: 100%;
}

.arrows_border {
  margin-right: 60px;
  height: 1px;
  background-color: #28a6e2;
  margin-top: 25px;
}

.video_more {
  margin-top: 18px;
  width: 175px;
  height: 43px;
  border-radius: 43px;
  background-color: #136098;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;
  margin-right: 60px;
}

.video_more_txt {
  height: 43px;
  line-height: 43px;
  font-size: 15px;
  color: #28a6e2;
  margin-right: 14px;
}

.news {
  position: relative;
  width: 100%;
  height: 738px;
  box-sizing: border-box;
  background-color: #c6e3f5;
  padding-top: 81px;
}

.news_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.small_title {
  height: 22px;
  font-size: 22px;
  color: #186daa;
  line-height: 22px;
  padding-bottom: 15px;
  border-bottom: 5px solid #186daa;
}

.news_nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.news_nav li {
  margin-left: 50px;
  height: 15px;
  font-size: 15px;
  color: #186daa;
  line-height: 15px;
}

.news_nav li.news_nav_active {
  color: #ffffff;
  padding: 7px 11px;
  background-color: #186daa;
}

.news_body {
  margin-top: 45px;
  display: flex;
}

.news_left {
  width: 500px;
  height: 459px;
  margin-right: 80px;
}

.news_left .img {
  width: 100%;
  height: 308px;
}

.news_left .img img {
  width: 100%;
  height: 100%;
}

.news_arrows {
  height: 151px;
  display: flex;
  color: #ffffff;
  background-color: #186daa;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 25px;
  padding-right: 45px;
}

.news_arrows_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.news_arrows_date span:first-child {
  height: 25px;
  font-size: 32px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 10px;
}

.news_arrows_date span:last-child {
  height: 11px;
  font-size: 14px;
  color: #ddf5fc;
  line-height: 11px;
}

.news_arrows_title {
  height: 19px;
  line-height: 19px;
  font-size: 18px;
  color: #e7f6fb;
}

.news_arrows_draw {
  width: 100%;
  height: 1px;
  background-color: #218ecb;
  margin: 12px 0 15px;
}

.news_arrows_txt {
  height: 37px;
  font-size: 15px;
  color: #ddf5fc;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news_list {
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news_item p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news_item p,
.news_item_title {
  border-bottom: 1px solid #9cc9e8;
  padding-bottom: 20px;
}

.news_item p span:first-child,
.news_item_title {
  height: 19px;
  font-size: 18px;
  color: #186daa;
  line-height: 19px;
}

.news_item p span:last-child {
  font-size: 12px;
  color: #28a6e2;
  height: 13px;
  line-height: 13px;
}

.news_item_active {
  display: flex;
  justify-content: space-between;
}

.news_item_txt {
  height: 56px;
  font-size: 15px;
  color: #535353;
  line-height: 19px;
  margin: 20px 0 70px;
}

.news_item_active_date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news_item_active_date p:first-child {
  height: 25px;
  font-size: 32px;
  font-weight: bold;
  color: #28a6e2;
  line-height: 25px;
  margin-bottom: 11px;
}

.news_item_active_date p:last-child {
  height: 11px;
  font-size: 14px;
  color: #28a6e2;
  line-height: 11px;
}

.serve {
  position: relative;
  width: 100%;
  height: 750px;
  padding-top: 81px;
  box-sizing: border-box;
  background-color: #ddf5fc;
}

.serve_body {
  height: 422px;
  margin-top: 53px;
  display: flex;
}

.serve_body_left {
  width: 896px;
  display: flex;
  flex-wrap: wrap;
}

.serve_item {
  width: 216px;
  height: 216px;
  padding-top: 41px;
  padding-bottom: 25px;
  box-sizing: border-box;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.serve_item:hover,
.serve_body_right:hover {
  box-shadow: 0px 0px 24px rgba(129, 205, 255, 0.925);
}

.serve_item:nth-child(1),
.serve_item:nth-child(3),
.serve_item:nth-child(6),
.serve_item:nth-child(8) {
  background-color: #cde6f7;
}

.serve_item:nth-child(2),
.serve_item:nth-child(4),
.serve_item:nth-child(5),
.serve_item:nth-child(7) {
  background-color: #add4ef;
}

.serve_item p {
  width: 40px;
  height: 1px;
  background-color: #186daa;
}

.serve_item div {
  font-size: 15px;
  color: #186daa;
  line-height: 15px;
}

.serve_body_right {
  cursor: pointer;
  width: 304px;
  height: 440px;
}

.serve_body_right img {
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  width: 100%;
  height: 344px;
  box-sizing: border-box;
  background-color: #c1e6f6;
}

.info_area {
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.logo_bottom {
  width: 118px;
  height: 129px;
}

.info_middle {
  width: 626px;
}

.info_middle_select {
  margin: 54px 0 26px;
  display: flex;
  justify-content: space-between;
}
.info_middle_div {
  cursor: pointer;
  position: relative;
}
.info_middle_div > div {
  height: 0;
  visibility: hidden;
  position: absolute;
}
.info_middle_div:hover > div {
  visibility: inherit;
  height: 100px;
  background-color: red;
  transition: 0.5s;
}
.info_middle_div > p {
  width: 160px;
  padding: 7px 13px;
  height: 31px;
  line-height: 17px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #d2effa;
}

.info_middle_div span:first-child {
  height: 17px;
  font-size: 16px;
  color: #156097;
}

.info_middle_div span:last-child {
  height: 7px;
  font-size: 11px;
  color: #b1d8f2;
}

.info_middle > p {
  height: 17px;
  font-size: 16px;
  color: #394e69;
  line-height: 17px;
}

.info_right {
  display: flex;
}

.info_right > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_right > p img {
  margin-bottom: 10px;
}

.info_right > p span {
  font-size: 14px;
  color: #394e69;
  line-height: 18px;
}

.info_wave {
  width: 100%;
  height: calc(100% - 204px);
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #136098;
  box-sizing: border-box;
}

.footer div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span:first-child {
  height: 14px;
  font-size: 14px;
  color: #ddf5fc;
  line-height: 14px;
}

.footer span:last-child {
  height: 15px;
  font-size: 14px;
  color: #28a6e2;
  line-height: 15px;
  opacity: 0.6;
}

.copyright {
  display: none;
}

@media (max-width: 1250px) {
  .header {
    display: none;
  }

  .nav,
  .video_area,
  .news_head,
  .news_body,
  .serve_body,
  .info_area,
  .footer div {
    width: 800px;
  }

  .nav {
    top: 30px;
  }

  .carousel_btn {
    top: 965px;
  }

  .carousel_btn_item {
    background-color: #186daa;
    opacity: 0.8;
  }

  .video_area {
    height: auto;
    top: 120px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(24, 109, 170, 0.5);
  }

  .video {
    height: 400px;
    top: 0;
    left: 0;
    margin-right: 0;
  }

  .arrows_tit {
    text-align: center;
  }

  .arrows_txt {
    color: #fff;
  }

  .video_str .arrows,
  .video_str .arrows_txt {
    padding-right: 0;
  }

  .arrows_border,
  .video_more {
    margin-right: 0;
  }

  .news {
    height: auto;
  }

  .news_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news_left {
    width: 600px;
    margin-right: 0;
  }

  .news_list {
    margin: 30px 0 60px;
    height: 460px;
  }

  .serve,
  .serve_body {
    height: auto;
  }

  .serve_body {
    margin-bottom: 50px;
  }

  .serve_body_left {
    width: 448px;
  }

  .info_middle {
    width: 425px;
  }

  .info_middle_div span:first-child,
  .info_middle > p {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  ul.sticky,
  .header,
  .nav,
  #phoneNav {
    display: none;
  }

  .video_area,
  .news_head,
  .news_body,
  .serve_body,
  .info_area,
  .footer div {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .carousel {
    height: 640px;
    position: relative;
    padding-bottom: 60px;
  }

  .carousel .carousel_bg {
    position: absolute;
  }

  .carousel_btn {
    top: 660px;
  }

  .burger {
    position: fixed;
    z-index: 100;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .burger img {
    height: 30px;
  }

  .menu {
    width: 20px;
    height: 20px;
    background: url("../imgs/index/menu.png") center no-repeat;
    background-size: 100% auto;
  }

  .video_area {
    background-color: rgba(0, 0, 0, 0.1);
    flex-direction: column-reverse;
    top: 40px;
    box-shadow: none;
    position: relative;
  }

  .video {
    width: 100%;
    height: 250px;
  }

  .video_str {
    width: 100%;
    height: 350px;
  }

  .arrows {
    margin: 20px 0;
  }

  .video_more {
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }

  .news,
  .serve {
    padding-top: 21px;
  }

  .small_title {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #186daa;
  }

  .news_nav {
    justify-content: space-between;
  }

  .news_nav li.news_nav_active {
    padding: 4px 8px;
  }

  .news_nav li {
    margin-left: 0;
  }

  .news_body {
    margin-top: 25px;
  }

  .news_left {
    width: 100%;
    height: auto;
  }

  .news_left .img {
    height: 208px;
  }

  .news_arrows {
    padding: 16px 20px 20px;
    height: auto;
  }

  .news_arrows_title {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
  }

  .news_arrows_draw {
    margin: 6px 0 8px;
  }

  .news_arrows_txt {
    font-size: 14px;
  }

  .news_list {
    margin: 10px 0 30px;
    width: 100%;
  }

  .news_item p,
  .news_item_title {
    border-bottom: 1px solid #9cc9e8;
    padding-bottom: 25px;
  }

  .news_item p span:first-child,
  .news_item_title {
    height: 16px;
    font-size: 16px;
    color: #186daa;
    line-height: 16px;
  }

  .news_item p span:first-child {
    width: 75%;
  }

  .serve_body {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .serve_body_left {
    width: 308px;
  }

  .serve_item {
    width: 150px;
    height: 150px;
  }

  .serve_item:nth-child(even) {
    margin-right: 0;
  }

  .serve_item:nth-child(1),
  .serve_item:nth-child(4),
  .serve_item:nth-child(5),
  .serve_item:nth-child(8) {
    background-color: #cde6f7;
  }

  .serve_item:nth-child(2),
  .serve_item:nth-child(3),
  .serve_item:nth-child(6),
  .serve_item:nth-child(7) {
    background-color: #add4ef;
  }

  .logo_bottom {
    display: none;
  }

  .info {
    height: auto;
  }

  .info_area {
    padding: 30px 15px 10px;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
  }

  .info_middle {
    width: 100%;
  }

  .info_middle_select {
    margin-top: 0;
    margin-bottom: 10px;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
  }

  .info_middle_div {
    width: 70%;
    margin-bottom: 10px;
  }

  .info_middle > p {
    display: none;
  }

  .copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .copyright div {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #394e69;
  }

  .info_wave {
    height: 30px;
  }

  .waves {
    min-height: 30px;
  }

  .footer div {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  #app ul.phoneNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 0;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 20%);
    animation: slideDown 1s ease-out forwards;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-352px);
    }

    to {
      transform: translateY(40px);
    }
  }

  .phoneNav > li {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}
