<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>青岛水务集团有限公司</title>
    <link
      rel="shortcut icon"
      href="../../imgs/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-plus@2.2.26/dist/index.css"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link
      rel="stylesheet"
      href="../../css/onlineServiceHall/securitySense.css"
    />
    <script src="../../libs/vue.global.js"></script>
    <script src="../../libs/scrollreveal.min.js"></script>
    <script src="https://unpkg.com/element-plus@2.2.26/dist/index.full.js"></script>
    <script src="https://unpkg.com/element-plus@2.2.26/dist/locale/zh-cn.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 头部 -->
      <div class="head flex_column_center">
        <header>
          <a href=""><img src="../../imgs/commonLogo.png" alt="" /></a>
          <div><img src="../../imgs/Servicehotline.png" alt="" /></div>
        </header>
        <div style="width: 100%; height: 1px; background-color: #359ccd"></div>
        <nav>
          <ul class="navigation">
            <li><a href='../../index.html'><span>首页</span></a></li>
            <li>
              <span>集团概况</span>
              <ul class="sub_menu">
                <li><a href="../../html/aboutUs/about.html"><span></span>企业简介</a></li>
                <li><a href="../../html/aboutUs/institutionSetting.html"><span></span>机构设置</a></li>
                <li><a href="../../html/aboutUs/culture.html"><span></span>企业文化</a></li>
              </ul>
            </li>
            <li>
              <span>新闻资讯</span>
              <ul class="sub_menu">
                <li><a href="../../html/news/waterNews.html"><span></span>水务新闻</a></li>
                <li><a href="../../html/news/imgNews.html"><span></span>图片新闻</a></li>
                <li><a href="../../html/news/mediaNews.html"><span></span>媒体新闻</a></li>
              </ul>
            </li>
            <li><span>党建工作</span>
              <ul class="sub_menu">
                <li><a href="../../html/partyBuilding/partyNews.html"><span></span>党建新闻</a></li>
                <li><a href="../../html/partyBuilding/labourUnion.html"><span></span>工会动态</a></li>
                <li><a href="../../html/partyBuilding/breeze.html"><span></span>水务清风</a></li>
                <li><a href="../../html/partyBuilding/youth.html"><span></span>青春水务</a></li>
              </ul>
            </li>
            <li class="nav_special_li"><span>信息公开</span>
              <ul class="sub_menu">
                <li><a><span></span>单位概况</a>
                  <ul class="two_menu">
                    <li><a href="../../html/aboutUs/about.html">基本简介</a></li>
                    <li><a href="../../html/aboutUs/about.html#leadership">领导信息</a></li>
                    <li><a href="../../html/aboutUs/institutionSetting.html">机构设置</a></li>
                  </ul>
                </li>
                <li><a><span></span>法规标准</a>
                  <ul class="two_menu">
                    <li><a href="../../html/InformationDisclosure/policy.html">政策标准</a></li>
                    <li><a href="../../html/InformationDisclosure/rules.html">规章制度</a></li>
                  </ul>
                </li>
                <li><a><span></span>公开目录及指南</a>
                  <ul class="two_menu">
                    <li><a href="../../html/InformationDisclosure/catalog.html">信息公开目录</a></li>
                    <li><a href="../../html/InformationDisclosure/guide.html">信息公开指南</a></li>
                  </ul>
                </li>
                <li><a><span></span>城市供水服务</a>
                  <ul class="two_menu">
                    <li><a href="../../html/InformationDisclosure/price.html">价格收费</a></li>
                    <li><a href="../../html/onlineServiceHall/waterPrice.html">办事服务</a></li>
                    <li class="two_menu_li"><a>便民公告</a>
                      <ul class="three_menu">
                        <li><a href="../../html/onlineServiceHall/meterReading.html">供水抄表计划</a></li>
                        <li><a href="../../html/onlineServiceHall/cutWater.html">停水公告</a></li>
                      </ul>
                    </li>
                    <li><a href="../../html/onlineServiceHall/waterQuality.html">水质水压公告</a></li>
                    <li><a href="../../html/onlineServiceHall/securitySense.html">安全警示</a></li>
                    <li><a href="../../html/onlineServiceHall/message.html">咨询投诉</a></li>
                  </ul>
                </li>
                <li><a><span></span>其他公开服务</a>
                  <ul class="two_menu">
                    <li><a href="http://www.qdwater.com.cn:8010/bid2/front" target="_blank">招标公告</a></li>
                    <li><a href="../../html/InformationDisclosure/monitor.html">水质监测</a></li>
                    <li><a href="../../html/InformationDisclosure/otherServe.html">其他服务信息</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav_special_li navAct"><span>网上服务厅</span>
              <ul class="sub_menu">
                <li><a href="../../html/onlineServiceHall/waterPrice.html"><span></span>供水价格</span></a></li>
                <li><a><span></span>服务窗口查询</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/waterWindow.html">供水服务窗口</a></li>
                    <li><a href="../../html/onlineServiceHall/drainWindow.html">排水服务窗口</a></li>
                    <li><a href="https://www.qingdaonengyuan.com/FuWu_qd.html" target="_blank">收费服务窗口</a></li>
                    <li><a href="../../html/onlineServiceHall/shareWindow.html">市政公用共享服务窗口</a></li>
                  </ul>
                </li>
                <li><a><span></span>业务办理</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/connect.html">全市通办</a></li>
                    <li><a href="../../html/onlineServiceHall/convenience.html">便民五项</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/cutWater.html"><span></span>停水公告</a></li>
                <li><a href="../../html/onlineServiceHall/waterQuality.html"><span></span>水质水压公告</a></li>
                <li><a href="../../html/onlineServiceHall/meterReading.html"><span></span>用水抄表计划</a></li>
                <li><a><span></span>办事指南</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/guidelines.html">海润自来水集团</a></li>
                    <li><a href="../../html/onlineServiceHall/guidelines.html">胶州自来水公司</a></li>
                    <li><a href="../../html/onlineServiceHall/guidelines.html">高新海润水务</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/packing.html"><span></span>用水报装智慧报装</a></li>
                <li><a><span></span>"青水管＋"特色服务</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/threeone.html">"一免、一查、一服务"</a></li>
                    <li><a href="../../html/onlineServiceHall/paidserve.html">有偿服务收费标准</a></li>
                  </ul>
                </li>
                <li><a><span></span>安全警示常识</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/securitySense.html">用水常识</a></li>
                    <li><a href="../../html/onlineServiceHall/securitySense.html">排水常识</a></li>
                    <li><a href="../../html/onlineServiceHall/securitySense.html">设施辨识</a></li>
                  </ul>
                </li>
                <li><a><span></span>网上留言及回复</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/message.html">96111回复</a></li>
                    <li><a href="../../html/onlineServiceHall/message.html">在线留言</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/inform.html"><span></span>网上举报</a></li>
              </ul>
            </li>
            <li class="nav_special_li"><span>营商环境</span>
              <ul class="sub_menu">
                <li><a><span></span>相关政策</span></a>
                  <ul class="two_menu">
                    <li><a href="../../html/environment/policy.html">国家政策</a></li>
                    <li><a href="../../html/environment/policy.html">山东省政策</a></li>
                    <li><a href="../../html/environment/policy.html">青岛市政策</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/packing.html"><span></span>用水报装</a></li>
                <li><a href="../../html/onlineServiceHall/guidelines.html"><span></span>办事指南</a></li>
                <li><a href="../../html/environment/promise.html"><span></span>服务承诺</a></li>
                <li><a href="../../html/InformationDisclosure/policy.html"><span></span>信息公示</a></li>
              </ul>
            </li>
            <li><span>水务科技</span>
              <ul class="sub_menu">
                <li><a href="../../html/technology/achievement.html"><span></span>成果展示</span></a></li>
                <li><a href="../../html/technology/dynamic.html"><span></span>科技动态</a></li>
              </ul>
            </li>
            <!-- <li><span>网上博物馆</span>
              <ul class="sub_menu">
                <li><a href="../../html/museum/brief.html"><span></span>博物馆简介</span></a></li>
                <li><a href="http://www.qdwater.com.cn/exhibition/?scene_id=80142705"><span></span>网上博物馆</a></li>
                <li><a href="../../html/museum/appointment.html"><span></span>参观预约</a></li>
                <li><a href="../../html/museum/historical.html"><span></span>供排水史记</a></li>
              </ul>
            </li> -->
          </ul>
          <div class="search_box">
            <input type="text" class="search_input" />
            <img src="../../imgs/magnifying.png" alt="" />
          </div>
        </nav>
      </div>
      <!-- 手机头部 -->
      <div class="burger">
        <img src="../../imgs/index/logo.png" alt="" />
        <div class="menu"></div>
      </div>

      <!-- 手机导航 -->
      <ul id="phoneNav" style="display: none">
        <li class="navAct">首页</li>
        <li>集团概况</li>
        <li>新闻资讯</li>
        <li>党建工作</li>
        <li>信息公开</li>
        <li>网上服务厅</li>
        <li>营商环境</li>
        <li>水务科技</li>
      </ul>
      <div class="empty"></div>

      <div class="banner flex_column_center">
        <img src="../../imgs/onlineServiceHall/bg.png" class="about_img" />
        <div class="banner_content">
          <div class="banner_slogan">
            <p class="banner_title">网上服务厅</p>
            <p class="banner_title_en">Online service hall</p>
          </div>
          <div class="banner_crumbs">
            您当前的位置：首页 / 网上服务厅 / 安全警示常识 /
            <span v-if="TabIndex==0">用水常识</span>
            <span v-if="TabIndex==1">排水常识</span>
            <span v-if="TabIndex==2">设施辨识</span>
          </div>
        </div>
        <div class="company_profile_title">
          <span>安全警示常识</span>
        </div>
      </div>

      <div class="main flex_column_center">
        <div>
          <ul class="main_nav">
            <li>
              <a
                :class="[TabIndex == 0 ?'main_nav_active':'']"
                @click="handoffNav(0)"
                >用水常识</a
              >
            </li>
            <li>
              <a
                :class="[TabIndex == 1 ?'main_nav_active':'']"
                @click="handoffNav(1)"
                >排水常识</a
              >
            </li>
            <li>
              <a
                :class="[TabIndex == 2 ?'main_nav_active':'']"
                @click="handoffNav(2)"
                >设施辨识</a
              >
            </li>
          </ul>
        </div>
        <div class="identification" v-if="TabIndex == 2">
          <div class="supply">
            <div class="supply_title">供水设施安全使用常识</div>
            <div class="supply_content">
              温馨提示广大用户做好低温天气家中供水设施防冻工作，避免造成受冻停水等问题，以下措施可避免供水设施受冻：<br />
              <span></span>
              1．为防止家中水管、水表、水龙头等用水设施冻坏，可以使用干燥的棉麻织物、旧棉衣、棉絮等保温材料加厚包紧；<br />
              <span></span>
              2．夜晚应关闭厨房、厕所以及所有朝北房间的窗户，保证室内的温度在０℃以上；<br />
              <span></span>
              3．对于室内温度低于０℃的房间，要关闭室内水表阀门，打开水龙头，放尽水管中剩水；<br />
              <span></span>
              4．在严寒天气（－５℃以下），最好在晚间用水后稍稍拧开水龙头，将水龙头保持很小的滴流状态，保证水管内自来水流动，防止夜间被冻住；<br />
              <span></span>
              5．对确已冻住的水管，可以用电吹风吹烘，或用毛巾包裹后慢慢用温水浇淋，切不可以用火直接烘烤或用开水急烫，以免造成水管或水表爆裂。
            </div>
          </div>
          <div class="drain">
            <div class="supply_title">排水设施安全使用常识</div>
            <div class="drain_content">
              <div class="small_title"><i>1．</i>排水管道堵塞的原因</div>
              <p>
                <span></span>
                一是油污遇冷凝成块。不少人习惯将油污很重的污水倒入下水道，油污遇冷易在下水道管壁凝结成块，例如猪油比色拉油更容易凝结。<br />
                <span></span>
                二是头发丝、棉絮等纤维状物质作祟。居家水池、洗脸盆很易将头发随水流入下水道，这些头发多了后很容易绞成团，特别是很多房屋厨房和厕所下水道相连，这些头发遇油污更易堵塞管道。<br />
                <span></span>
                三是不好的生活习惯，向下水道倒垃圾，包括抹布、菜叶、骨头渣滓、木屑等。<br />
              </p>
              <div class="small_title"><i>2．</i>排水管道内油脂凝结原因</div>
              <p>
                <span></span>
                排水管道内大油凝结降低管道通过能力甚至堵塞管道是排水养护中存在的普遍问题，食用油脂进入排水管道后，随着水温的下降，油脂凝固并附着于管壁上，越聚越多，且随着时间的延长以及微生物的生长繁殖，油脂逐渐变为强韧性的固状油，使排水管道断面缩小并最终堵塞管道。
              </p>
              <div class="small_title"><i>3．</i>文明排水小常识</div>
              <p>
                <span></span>
                一是不要将油污较重的污水倒入下水道，可以用塑料瓶收集后当“固体垃圾”处理。<br />
                <span></span>
                二是洗碗时可用热水加洗涤剂清洗碗碟，如果碗碟油污较重，可先用纸将油腻的污渍擦掉扔在垃圾袋里，再进行冲洗。<br />
                <span></span>
                三是尽量将掉落的头发、骨头、菜叶等干垃圾捡起放入垃圾箱，并在排水口用漏斗过滤，防止渣滓流入下水道。<br />
                <span></span>
                四是餐饮业经营者设置油水分离设施，避免油污进入排水管道，预冷板结，堵塞排水管道影响正常营业。
              </p>
              <div class="small_title"><i>4．</i>雨天出行提醒</div>
              <p>
                <span></span>
                青岛水务排水公司提醒广大市民在降雨期间尽量减少外出，一定要随时留意雨情变化，注意绕行铁路桥下、地势低洼等易积水路段，遇
                有积水时不要盲目随行，不要高速过水沟、水坑，要听从现场排水防汛人员的指挥，谨慎驾驶。雨天出行多观察，确保安全，尽量绕行
                排水检查井和雨水箅子，在低洼地点停靠的车辆，应避免占压排水检查井和雨水箅子，以免影响排水设施紧急开启。雨天驾车要保持足
                够的安全距离，随时观察路上的警示设施，行车时保持一定的安全距离。行人撑伞在路上行走时，伞具不要影响自己的观察，横过公路
                时，要注意公路上的过往车辆，不要在车辆临近时突然横穿。
              </p>
            </div>
          </div>
        </div>
        <div class="main_content flex_column_center" v-else>
          <div class="main_list">
            <a class="main_item" v-for="(item,index) in list" ::key="index">
              <i>
                <img
                  src="../../imgs/onlineServiceHall/tap.png"
                  v-if="TabIndex == 0"
                />
                <img
                  src="../../imgs/onlineServiceHall/drain.png"
                  v-if="TabIndex == 1"
                />
              </i>
              <div class="main_item_title">{{item.title}}</div>
              <div class="main_item_content" v-html="item.content"></div>
              <div class="main_item_date">{{item.date}}</div>
              <img
                src="../../imgs/onlineServiceHall/meter_jt.png"
                class="main_item_img"
              />
            </a>
          </div>
          <el-pagination
            v-model:current-page="currentPage"
            v-model:page-size="pageSize"
            :pager-count="10"
            :page-sizes="[10, 20, 30, 50]"
            layout="total, sizes, prev, pager, next, jumper"
            :total="200"
            background
            popper-class="page_selece_down"
            prev-text="上一页"
            next-text="下一页"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
          />
        </div>
      </div>

      <!-- 底部 -->
      <div class="info flex_column_center">
        <div class="info_area">
          <img
            class="logo_bottom"
            src="../../imgs/index/logo-bottom.png"
            alt=""
          />
          <div class="info_middle">
            <div class="info_middle_select">
              <div class="info_middle_div">
                <p>
                  <span>水行业相关网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="http://www.mwr.gov.cn/" target="_blank"
                    >中华人民共和国水利部</a
                  >
                  <a href="https://www.h2o-china.com/" target="_blank"
                    >中国水网</a
                  >
                  <a href="https://www.cuwa.org.cn/" target="_blank"
                    >中国城镇供水协会</a
                  >
                  <a href="http://www.watergasheat.com/" target="_blank"
                    >中国给水排水</a
                  >
                  <a href="http://www.water.hc360.com/" target="_blank"
                    >慧聪水工业网</a
                  >
                  <a href="https://www.shanghaiwater.com/" target="_blank"
                    >中国水务网
                  </a>
                  <a href="https://www.shanghaiwater.com/" target="_blank"
                    >上海城投</a
                  >
                  <a href="https://www.sz-water.com.cn/" target="_blank"
                    >深圳环境水务集团</a
                  >
                </div>
              </div>
              <div class="info_middle_div">
                <p>
                  <span>供排水企业网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="https://www.bdc.cn/" target="_blank"
                    >北京城市排水集团有限责任公司</a
                  >
                  <a href="http://www.tjwatergroup.com/" target="_blank"
                    >天津水务集团</a
                  >
                  <a href="http://www.jlwater.com/" target="_blank"
                    >南京水务集团有限公司</a
                  >
                  <a href="https://www.cncqsw.com/" target="_blank"
                    >重庆水务集团股份有限公司</a
                  >
                  <a href="http://www.hzwgc.com/" target="_blank"
                    >杭州市水务集团有限公司</a
                  >
                  <a href="http://www.ningbowater.com/" target="_blank"
                    >宁波市水务环境集团有限公司
                  </a>
                  <a href="https://www.cdenvironment.com/" target="_blank"
                    >成都环境集团</a
                  >
                  <a href="http://www.changchunwater.com/" target="_blank"
                    >吉林省长春水务集团有限责任公司</a
                  >
                  <a href="http://www.hrbgongshui.com/" target="_blank"
                    >哈尔滨供水集团有限责任公司</a
                  >
                  <a href="http://www.syswgw.com/" target="_blank"
                    >沈阳水务集团</a
                  >
                  <a href="https://www.xashuiwu.com/" target="_blank"
                    >西安水务（集团）有限责任公司</a
                  >
                </div>
              </div>
              <div class="info_middle_div">
                <p>
                  <span>其他行业网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="http://www.projectbidding.cn/" target="_blank"
                    >工程信息与招标网</a
                  >
                  <a href="http://www.pv365.com/" target="_blank"
                    >中国泵阀信息网</a
                  >
                  <a href="http://www.1718cn.com/" target="_blank"
                    >中国中国仪器仪表大市场</a
                  >
                </div>
              </div>
            </div>
            <p>
              <span>青岛水务集团有限公司版权所有Copyright © 2022</span>
              <span>鲁ICP备05053132号</span>
            </p>
          </div>
          <div class="info_right">
            <p style="margin-right: 23px">
              <img src="../../imgs/index/swgzh.png" alt="" />
              <span>青岛水务集团</span>
              <span>公众微信号</span>
            </p>
            <p>
              <img src="../../imgs/index/xfgzh.png" alt="" />
              <span>青岛水务先锋</span>
              <span>公众微信号</span>
            </p>
          </div>
        </div>
        <div class="info_wave">
          <svg
            class="waves"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28"
            preserveAspectRatio="none"
            shape-rendering="auto"
          >
            <defs>
              <path
                id="gentle-wave"
                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
              />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="#D6ECF5" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="#9BD1ED" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#6FB9E9" />
            </g>
          </svg>
        </div>
      </div>

      <div class="footer flex_column_center">
        <footer>
          <span>http://www.qdwater.com.cn</span>
          <span>青岛亚讯图航网络科技有限公司 技术支持</span>
        </footer>
      </div>
    </div>

    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            TabIndex: 0,
            list: [],
            waterUse: [
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "冬季个别供水设施受冻原因及防冻解冻小常识",
                content:
                  "冬季个别供水设施受冻主要原因有两种：一是部分水表和管道供水设施设置在户外；二是部分住宅室内保温措施不到位，在极端低温天气下易受冻。室外水管、水龙头的防冻可以用棉布，麻绳或草绳等进行包扎。住宅室内保温措施较差的供水设施，天气比较冷时，可以在临睡前关闭室内水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
            ],
            drain: [
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
              {
                title: "市民在日常生活中应该注意哪些排水方面的问题？",
                content:
                  "市民在日常生活中应该注意哪些排水方面的问题？<br />市民应遵守《青岛市城市排水条例》有关规定，合理使用下水道，在日常生活中还要注意以下几点：<br />（1）不往下水道里乱扔垃圾，不把下水道当“垃圾箱”；<br />（2）不乱接乱排生活污水，对乱接乱排的现象及时监督、举报；（3）不将煤气残液等腐蚀性液体倒入排水管道；<br />（4）餐饮业经营者要设置油水分离设施，避免油污进入排水管道，居民也应尽量不要将废油倒入下水道中，可以用塑料瓶收集后当“固体垃圾”处理。水表的表前阀门，打开水龙头，把管道内的空水放出来，预防供水设施受冻。对已经冻住的水龙头、水表、水管，可先用热毛巾将水龙头包住，然后用温水沿水龙头慢慢地向管子方向浇洒，使水管解冻。如浇洒至水表处，仍不见水流出，刚说明水表也被冻住了，此时用热毛巾将水表包住，用温水浇洒，使水表解冻。但切忌用火烘烤。……",
                date: "2022 / 09 / 15",
              },
            ],
            currentPage: 1,
            pageSize: 10,
          };
        },
        created() {
          this.list = this.waterUse;
        },
        methods: {
          handoffNav(e) {
            this.TabIndex = e;
            if (e == 0) {
              this.list = this.waterUse;
            } else if (e == 1) {
              this.list = this.drain;
            }
          },
          handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
          },
          handleCurrentChange(val) {
            console.log(`当前页: ${val}`);
          },
        },
      })
        .use(ElementPlus, { locale: ElementPlusLocaleZhCn })
        .mount("#app");
    </script>
    <script src="../../js/common.js"></script>
  </body>
</html>
