<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>青岛水务集团有限公司</title>
    <link
      rel="shortcut icon"
      href="../../imgs/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link
      rel="stylesheet"
      href="../../css/onlineServiceHall/serviceWindow.css"
    />
    <script src="../../libs/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script> -->
    <script src="../../libs/scrollreveal.min.js"></script>
    <!-- <script src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=pSIvmDSbh5CdhmHcUx31nVk9UvbzzF7I"></script> -->
    <script src="https://api.map.baidu.com/api?v=3.0&ak=pSIvmDSbh5CdhmHcUx31nVk9UvbzzF7I"></script>
  </head>

  <body>
    <div id="app">
      <!-- 头部 -->
      <div class="head flex_column_center">
        <header>
          <a href=""><img src="../../imgs/commonLogo.png" alt="" /></a>
          <div><img src="../../imgs/Servicehotline.png" alt="" /></div>
        </header>
        <div style="width: 100%; height: 1px; background-color: #359ccd"></div>
        <nav>
          <ul class="navigation">
            <li>
              <a href="../../index.html"><span>首页</span></a>
            </li>
            <li>
              <span>集团概况</span>
              <ul class="sub_menu">
                <li>
                  <a href="../../html/aboutUs/about.html"
                    ><span></span>企业简介</a
                  >
                </li>
                <li>
                  <a href="../../html/aboutUs/institutionSetting.html"
                    ><span></span>机构设置</a
                  >
                </li>
                <li>
                  <a href="../../html/aboutUs/culture.html"
                    ><span></span>企业文化</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <span>新闻资讯</span>
              <ul class="sub_menu">
                <li>
                  <a href="../../html/news/waterNews.html"
                    ><span></span>水务新闻</a
                  >
                </li>
                <li>
                  <a href="../../html/news/imgNews.html"
                    ><span></span>图片新闻</a
                  >
                </li>
                <li>
                  <a href="../../html/news/mediaNews.html"
                    ><span></span>媒体新闻</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <span>党建工作</span>
              <ul class="sub_menu">
                <li>
                  <a href="../../html/partyBuilding/partyNews.html"
                    ><span></span>党建新闻</a
                  >
                </li>
                <li>
                  <a href="../..//html/partyBuilding/labourUnion.html"
                    ><span></span>工会动态</a
                  >
                </li>
                <li>
                  <a href="../../html/partyBuilding/breeze.html"
                    ><span></span>水务清风</a
                  >
                </li>
                <li>
                  <a href="../../html/partyBuilding/youth.html"
                    ><span></span>青春水务</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <span>信息公开</span>
              <ul class="sub_menu">
                <li>
                  <a> <span></span>单位概况 </a>
                  <ul class="sub_menu">
                    <li>
                      <a href="../../html/aboutUs/about.html">
                        <span></span>基本简介
                      </a>
                    </li>
                    <li>
                      <a href="../../html/aboutUs/about.html#leadership">
                        <span></span>领导信息
                      </a>
                    </li>
                    <li>
                      <a href="../../html/aboutUs/institutionSetting.html">
                        <span></span>机构设置
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="navAct">
              <span>网上服务厅</span>
              <ul class="sub_menu">
                <li>
                  <a href="../../html/onlineServiceHall/serviceWindow.html"
                    ><span></span>服务窗口</a
                  >
                </li>
              </ul>
            </li>
            <li><span>营商环境</span></li>
            <li><span>水务科技</span></li>
          </ul>
          <div class="search_box">
            <input type="text" class="search_input" />
            <img src="../../imgs/magnifying.png" alt="" />
          </div>
        </nav>
      </div>
      <!-- 手机头部 -->
      <div class="burger">
        <img src="../../imgs/index/logo.png" alt="" />
        <div class="menu"></div>
      </div>

      <!-- 手机导航 -->
      <ul id="phoneNav" style="display: none">
        <li class="navAct">首页</li>
        <li>集团概况</li>
        <li>新闻资讯</li>
        <li>党建工作</li>
        <li>信息公开</li>
        <li>网上服务厅</li>
        <li>营商环境</li>
        <li>水务科技</li>
      </ul>
      <div class="empty"></div>

      <div class="banner flex_column_center">
        <img src="../../imgs/onlineServiceHall/bg.png" class="about_img" />
        <div class="banner_content">
          <div class="banner_slogan">
            <p class="banner_title">网上服务厅</p>
            <p class="banner_title_en">Online service hall</p>
          </div>
          <div class="banner_crumbs">
            您当前的位置：首页 / 网上服务厅 / 服务窗口查询 /
            <span v-if="componentValue == 0">供水服务窗口</span>
            <span v-else-if="componentValue == 1">排水服务窗口</span>
            <span v-else>市政公用共享服务窗口</span>
          </div>
        </div>
        <div class="company_profile_title">
          <span>服务窗口查询</span>
        </div>
      </div>

      <div class="main flex_column_center">
        <div>
          <ul class="main_nav">
            <li>
              <a
                :class="[componentValue == 0 ?'main_nav_active':'']"
                @click="handoffNav(0)"
                >供水服务窗口</a
              >
            </li>
            <li>
              <a
                :class="[componentValue == 1 ?'main_nav_active':'']"
                @click="handoffNav(1)"
                >排水服务窗口</a
              >
            </li>
            <li>
              <a href="https://www.qingdaonengyuan.com/FuWu_qd.html">
                收费服务窗口
              </a>
            </li>
            <li>
              <a
                :class="[componentValue == 2 ?'main_nav_active':'']"
                @click="handoffNav(2)"
                >市政公用共享服务窗口</a
              >
            </li>
          </ul>
        </div>
        <div class="main_title" v-if="componentValue == 0">
          供水公司常用服务电话一览表
        </div>
        <div class="main_title" v-else-if="componentValue == 1">
          排水各分公司服务电话及办公地点
        </div>
        <div class="main_title" v-else>“市政公用服务共享窗口”试行网点</div>
        <in-water-window
          class="main_content"
          v-if="componentValue == 0"
        ></in-water-window>
        <out-water-window
          class="main_content"
          v-if="componentValue == 1"
        ></out-water-window>
        <!-- 市政公用服务共享窗口 -->
        <div
          class="municipal_window flex_column_center"
          v-if="componentValue == 2"
        >
          <div>
            为深入贯彻落实国家、省“放管服”改革决策部署，切实落实我市优化营商环境提升行动，依据国务院《关于加快推进政务服务标准化规范化便利化的指导意见》（国发〔2022〕5号）等有关要求，进一步提升市政公用服务水平，提高企业群众用水、用电、暖气、燃气、通信、有线电视、琴岛通卡等市政公用服务办理便捷度和满意度，在各区、市级政务服务大厅设立水电气暖信有线等“市政公用服务专区”，推行各专营单位窗口无差别受理水电气暖信有线等市政公用服务。
          </div>
          <img src="../../imgs/onlineServiceHall/municipal.png" alt="" />
        </div>
      </div>

      <!-- 底部 -->
      <div class="info flex_column_center">
        <div class="info_area">
          <img
            class="logo_bottom"
            src="../../imgs/index/logo-bottom.png"
            alt=""
          />
          <div class="info_middle">
            <div class="info_middle_select">
              <div class="info_middle_div">
                <p>
                  <span>水行业相关网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="http://www.mwr.gov.cn/" target="_blank"
                    >中华人民共和国水利部</a
                  >
                  <a href="https://www.h2o-china.com/" target="_blank"
                    >中国水网</a
                  >
                  <a href="https://www.cuwa.org.cn/" target="_blank"
                    >中国城镇供水协会</a
                  >
                  <a href="http://www.watergasheat.com/" target="_blank"
                    >中国给水排水</a
                  >
                  <a href="http://www.water.hc360.com/" target="_blank"
                    >慧聪水工业网</a
                  >
                  <a href="https://www.shanghaiwater.com/" target="_blank"
                    >中国水务网
                  </a>
                  <a href="https://www.shanghaiwater.com/" target="_blank"
                    >上海城投</a
                  >
                  <a href="https://www.sz-water.com.cn/" target="_blank"
                    >深圳环境水务集团</a
                  >
                </div>
              </div>
              <div class="info_middle_div">
                <p>
                  <span>供排水企业网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="https://www.bdc.cn/" target="_blank"
                    >北京城市排水集团有限责任公司</a
                  >
                  <a href="http://www.tjwatergroup.com/" target="_blank"
                    >天津水务集团</a
                  >
                  <a href="http://www.jlwater.com/" target="_blank"
                    >南京水务集团有限公司</a
                  >
                  <a href="https://www.cncqsw.com/" target="_blank"
                    >重庆水务集团股份有限公司</a
                  >
                  <a href="http://www.hzwgc.com/" target="_blank"
                    >杭州市水务集团有限公司</a
                  >
                  <a href="http://www.ningbowater.com/" target="_blank"
                    >宁波市水务环境集团有限公司
                  </a>
                  <a href="https://www.cdenvironment.com/" target="_blank"
                    >成都环境集团</a
                  >
                  <a href="http://www.changchunwater.com/" target="_blank"
                    >吉林省长春水务集团有限责任公司</a
                  >
                  <a href="http://www.hrbgongshui.com/" target="_blank"
                    >哈尔滨供水集团有限责任公司</a
                  >
                  <a href="http://www.syswgw.com/" target="_blank"
                    >沈阳水务集团</a
                  >
                  <a href="https://www.xashuiwu.com/" target="_blank"
                    >西安水务（集团）有限责任公司</a
                  >
                </div>
              </div>
              <div class="info_middle_div">
                <p>
                  <span>其他行业网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="http://www.projectbidding.cn/" target="_blank"
                    >工程信息与招标网</a
                  >
                  <a href="http://www.pv365.com/" target="_blank"
                    >中国泵阀信息网</a
                  >
                  <a href="http://www.1718cn.com/" target="_blank"
                    >中国中国仪器仪表大市场</a
                  >
                </div>
              </div>
            </div>
            <p>
              <span>青岛水务集团有限公司版权所有Copyright © 2022</span>
              <span>鲁ICP备05053132号</span>
            </p>
          </div>
          <div class="info_right">
            <p style="margin-right: 23px">
              <img src="../../imgs/index/swgzh.png" alt="" />
              <span>青岛水务集团</span>
              <span>公众微信号</span>
            </p>
            <p>
              <img src="../../imgs/index/xfgzh.png" alt="" />
              <span>青岛水务先锋</span>
              <span>公众微信号</span>
            </p>
          </div>
        </div>
        <div class="info_wave">
          <svg
            class="waves"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28"
            preserveAspectRatio="none"
            shape-rendering="auto"
          >
            <defs>
              <path
                id="gentle-wave"
                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
              />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="#D6ECF5" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="#9BD1ED" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#6FB9E9" />
            </g>
          </svg>
        </div>
      </div>

      <div class="footer flex_column_center">
        <footer>
          <span>http://www.qdwater.com.cn</span>
          <span>青岛亚讯图航网络科技有限公司 技术支持</span>
        </footer>
      </div>
    </div>
    <script type="module">
      // 供水服务窗口
      import InWaterWindow from "../../js/onlineServiceHall/InWaterWindow.js";
      import OutWaterWindow from "../../js/onlineServiceHall/OutWaterWindow.js";

      const { createApp } = Vue;
      createApp({
        data() {
          return {
            map: null,
            componentValue: 0,
          };
        },
        components: {
          InWaterWindow,
          OutWaterWindow,
        },
        methods: {
          handoffNav(e) {
            this.componentValue = e;
          },
        },
      }).mount("#app");
    </script>
    <script src="../../js/common.js"></script>
  </body>
</html>
