.main > div:first-child {
  width: 1200px;
  position: absolute;
  top: 0;
}
.water_quality {
  width: 1300px;
}
.other_main {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}
.other_main_txt_area {
  flex: 1;
  line-height: 26px;
  position: relative;
}
.other_main_title {
  height: 36px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 18px;
  margin-bottom: 50px;
}
.other_main_title,
.other_main_content {
  margin-left: 45px;
  margin-right: 45px;
}
.other_main_blue {
  width: 100%;
  height: 192px;
  color: #ffffff;
  background-color: #28a6e2;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 44px 45px;
}
.other_two .other_main_title {
  text-align: end;
}
.other_two .other_main_blue {
  text-align: center;
  font-size: 29px;
  color: #ffffff;
  line-height: 51px;
}
.other_two .other_main_blue span {
  display: inline-block;
  width: 1em;
}
.water_quality .ml-0 {
  margin-left: 0;
}
.water_quality .other_main_title.ml-0 {
  margin-bottom: 30px;
}
.water_quality .other_main_content.ml-0 {
  margin-bottom: 50px;
}
.contact {
  padding-left: 80px;
}
.contact p {
  height: 16px;
  line-height: 16px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}
.contact p:nth-child(1) {
  align-items: center;
  position: relative;
}
.contact img {
  position: absolute;
  left: -35px;
}
.contact i {
  height: 27px;
  line-height: 29px;
  font-size: 29px;
  color: #28a6e2;
}
.service_info {
  width: 1200px;
  color: #186daa;
}
.service_info_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.service_info_item {
  width: 560px;
  margin-right: 80px;
  padding: 52px 0 40px 0;
  border-bottom: 1px solid #bbd3df;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.service_info_item:hover {
  padding-left: 20px;
}
.service_info_item:nth-child(even) {
  margin-right: 0;
}
.service_info_date {
  width: 88px;
  height: 86px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 17px;
  margin-right: 20px;
}
.service_info_date p {
  height: 28px;
  line-height: 28px;
  font-size: 36px;
  color: #186daa;
  margin-bottom: 13px;
}
.service_info_date div {
  height: 16px;
  line-height: 16px;
}
.service_info_paragraph {
  flex: 1;
}
.service_info_title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  line-height: 22px;
  font-size: 22px;
  color: #394e69;
  margin-bottom: 25px;
}
.service_info_content {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}
@media (max-width: 1350px) {
  .main > div:first-child,
  .water_quality {
    width: 800px;
  }
  .other_main_title,
  .other_main_content {
    margin: 0 24px 15px;
  }
  .other_main_blue {
    height: auto;
    position: relative;
    padding: 20px 24px;
  }
  .other_main > img {
    width: 300px;
  }
  .other_two .other_main_blue {
    font-size: 20px;
  }
  .service_info {
    width: 800px;
  }
  .service_info_item {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 819px) {
  .main > div:first-child,
  .water_quality {
    width: 100%;
  }
  .other_main_title {
    margin: 0;
    margin-bottom: 15px;
  }
  .other_main_content,
  .water_quality .other_main_content.ml-0 {
    margin: 0 10px 15px;
  }
  .other_main_title {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
  .other_main_blue {
    padding: 10px;
  }
  .other_main > img {
    width: 100%;
  }
  .other_main {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .other_two {
    flex-direction: column-reverse;
  }
  .other_two .other_main_title {
    text-align: start;
  }
  .other_two .other_main_blue {
    font-size: 18px;
    line-height: 40px;
  }
  .other_two .other_main_blue span {
    width: 0;
  }
  .water_quality .other_main_title.ml-0 {
    margin-bottom: 15px;
  }
  .contact {
    padding-left: 40px;
  }
  .contact p {
    margin-bottom: 20px;
  }
  .contact i {
    height: 18px;
    line-height: 18px;
    font-size: 18px;
  }
  .service_info {
    width: 100%;
  }
  .service_info_item {
    padding: 25px 0 20px 0;
  }
  .service_info_item:first-child {
    padding-top: 0;
  }
  .service_info_date p {
    height: 20px;
    line-height: 25px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .service_info_title {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .service_info_content {
    -webkit-line-clamp: 3;
  }
}
