.main > div:first-child,
.main_content {
  width: 68%;
}
.main > div:first-child {
  position: absolute;
  top: 0;
}
.supply,
.drain {
  padding: 70px 60px 90px;
  border: 1px solid #bbd3df;
  border-bottom: 5px solid #bbd3df;
  line-height: 51px;
}
.supply {
  clear: both;
  margin-bottom: 50px;
}
.supply_title {
  font-size: 37px;
  text-align: center;
  margin-bottom: 20px;
}
.supply_content span {
  display: inline-block;
  width: 1em;
}
.small_title {
  font-weight: bold;
  font-size: 22px;
}
.small_title i {
  display: inline-block;
  font-size: 33px;
}
.drain_content p span {
  display: inline-block;
  width: 2em;
}
