.main > div:first-child {
  width: 1200px;
  position: absolute;
  top: 0;
}
.main_content {
  width: 1200px;
}
.main_title {
  height: 37px;
  line-height: 37px;
  font-size: 37px;
  margin-bottom: 48px;
}
.main_paragraph {
  width: 1000px;
  line-height: 37px;
  font-size: 18px;
  margin-bottom: 80px;
}
.main_paragraph p {
  text-indent: 2em;
}
.imgone,
.imgtwo,
.imgthree,
.txt_area {
  float: left;
}
.imgone {
  width: 408px;
  height: 520px;
}
.imgtwo,
.imgthree,
.txt_area {
  width: 396px;
  height: 260px;
}
.imgone img,
.imgtwo img,
.imgthree img {
  width: 100%;
  height: 100%;
}
.txt_area {
  background-color: #eeeeee;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 36px;
  padding-bottom: 19px;
}
.txt_area h2 {
  height: 30px;
  font-size: 30px;
  font-weight: 400;
  color: #555555;
  line-height: 30px;
  margin-bottom: 31px;
}
.txt_area div {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #555555;
  margin-bottom: 15px;
}
.txt_area i {
  display: block;
  width: 45px;
  height: 1px;
  background-color: #28a6e2;
  margin-bottom: 15px;
}
.txt_area p {
  color: #999999;
  line-height: 24px;
  height: 45px;
  margin-bottom: 22px;
}
.txt_area a {
  width: 92px;
  height: 29px;
  line-height: 29px;
  background-color: #136098;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .main > div:first-child,
  .main_content,
  .main_paragraph {
    width: 800px;
  }
  .img_txt_area {
    width: 751px;
  }
  .imgone {
    width: 255px;
    height: 324px;
  }
  .imgtwo,
  .imgthree,
  .txt_area {
    width: 248px;
    height: 162px;
  }
  .txt_area {
    padding: 20px 0 12px 23px;
  }
  .txt_area h2 {
    height: 18px;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 19px;
  }
  .txt_area div {
    height: 13px;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 9px;
  }
  .txt_area i {
    margin-bottom: 11px;
  }
  .txt_area p {
    font-size: 10px;
    line-height: 19px;
    height: 34px;
    margin-bottom: 11px;
  }
  .txt_area a {
    width: 65px;
    height: 18px;
    line-height: 18px;
    font-size: 9px;
  }
}
@media (max-width: 820px) {
  .main > div:first-child,
  .main_content,
  .main_paragraph {
    width: 100%;
  }
  .main_title {
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main_paragraph {
    line-height: 22px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .img_txt_area {
    width: 100%;
  }
  .imgone {
    width: 100%;
    height: 460px;
  }
  .imgtwo,
  .imgthree,
  .txt_area {
    width: 100%;
  }
  .img_txt_area .imgthree {
    position: relative;
    transform: translateY(100%);
  }
  .txt_area:nth-child(5) {
    transform: translateY(-100%);
  }
}
