<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>青岛水务集团有限公司</title>
    <link
      rel="shortcut icon"
      href="../../imgs/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-plus@2.2.26/dist/index.css"
    />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/museum/appointment.css" />
    <script src="../../libs/vue.global.js"></script>
    <script src="../../libs/scrollreveal.min.js"></script>
    <script src="https://unpkg.com/element-plus@2.2.26/dist/index.full.js"></script>
    <script src="https://unpkg.com/element-plus@2.2.26/dist/locale/zh-cn.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 头部 -->
      <div class="head flex_column_center">
        <header>
          <a href=""><img src="../../imgs/commonLogo.png" alt="" /></a>
          <div><img src="../../imgs/Servicehotline.png" alt="" /></div>
        </header>
        <div style="width: 100%; height: 1px; background-color: #359ccd"></div>
        <nav>
          <ul class="navigation">
            <li><a href='../../index.html'><span>首页</span></a></li>
            <li>
              <span>集团概况</span>
              <ul class="sub_menu">
                <li><a href="../../html/aboutUs/about.html"><span></span>企业简介</a></li>
                <li><a href="../../html/aboutUs/institutionSetting.html"><span></span>机构设置</a></li>
                <li><a href="../../html/aboutUs/culture.html"><span></span>企业文化</a></li>
              </ul>
            </li>
            <li>
              <span>新闻资讯</span>
              <ul class="sub_menu">
                <li><a href="../../html/news/waterNews.html"><span></span>水务新闻</a></li>
                <li><a href="../../html/news/imgNews.html"><span></span>图片新闻</a></li>
                <li><a href="../../html/news/mediaNews.html"><span></span>媒体新闻</a></li>
              </ul>
            </li>
            <li><span>党建工作</span>
              <ul class="sub_menu">
                <li><a href="../../html/partyBuilding/partyNews.html"><span></span>党建新闻</a></li>
                <li><a href="../../html/partyBuilding/labourUnion.html"><span></span>工会动态</a></li>
                <li><a href="../../html/partyBuilding/breeze.html"><span></span>水务清风</a></li>
                <li><a href="../../html/partyBuilding/youth.html"><span></span>青春水务</a></li>
              </ul>
            </li>
            <li class="nav_special_li"><span>信息公开</span>
              <ul class="sub_menu">
                <li><a><span></span>单位概况</a>
                  <ul class="two_menu">
                    <li><a href="../../html/aboutUs/about.html">基本简介</a></li>
                    <li><a href="../../html/aboutUs/about.html#leadership">领导信息</a></li>
                    <li><a href="../../html/aboutUs/institutionSetting.html">机构设置</a></li>
                  </ul>
                </li>
                <li><a><span></span>法规标准</a>
                  <ul class="two_menu">
                    <li><a href="../../html/InformationDisclosure/policy.html">政策标准</a></li>
                    <li><a href="../../html/InformationDisclosure/rules.html">规章制度</a></li>
                  </ul>
                </li>
                <li><a href="../../html/InformationDisclosure/publicInfo.html"><span></span>公开目录及指南</a></li>
                <li><a><span></span>城市供水服务</a>
                  <ul class="two_menu">
                    <li><a href="../../html/InformationDisclosure/price.html">价格收费</a></li>
                    <li><a href="../../html/onlineServiceHall/waterPrice.html">办事服务</a></li>
                    <li class="two_menu_li"><a>便民公告</a>
                      <ul class="three_menu">
                        <li><a href="../../html/onlineServiceHall/meterReading.html">供水抄表计划</a></li>
                        <li><a href="../../html/onlineServiceHall/cutWater.html">停水公告</a></li>
                      </ul>
                    </li>
                    <li><a href="../../html/onlineServiceHall/waterQuality.html">水质水压公告</a></li>
                    <li><a href="../../html/onlineServiceHall/securitySense.html">安全警示</a></li>
                    <li><a href="../../html/onlineServiceHall/message.html">咨询投诉</a></li>
                  </ul>
                </li>
                <li><a><span></span>其他公开服务</a>
                  <ul class="two_menu">
                    <li><a href="http://www.qdwater.com.cn:8010/bid2/front" target="_blank">招标公告</a></li>
                    <li><a href="../../html/InformationDisclosure/otherServe.html">水质监测</a></li>
                    <li><a href="../../html/InformationDisclosure/otherServe.html">其他服务信息</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav_special_li"><span>网上服务厅</span>
              <ul class="sub_menu">
                <li><a href="../../html/onlineServiceHall/waterPrice.html"><span></span>供水价格</span></a></li>
                <li><a><span></span>服务窗口查询</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/waterWindow.html">供水服务窗口</a></li>
                    <li><a href="../../html/onlineServiceHall/drainWindow.html">排水服务窗口</a></li>
                    <li><a href="https://www.qingdaonengyuan.com/FuWu_qd.html" target="_blank">收费服务窗口</a></li>
                    <li><a href="../../html/onlineServiceHall/shareWindow.html">市政公用共享服务窗口</a></li>
                  </ul>
                </li>
                <li><a><span></span>业务办理</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/business.html">全市通办</a></li>
                    <li><a href="../../html/onlineServiceHall/business.html">便民五项</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/cutWater.html"><span></span>停水公告</a></li>
                <li><a href="../../html/onlineServiceHall/waterQuality.html"><span></span>水质水压公告</a></li>
                <li><a href="../../html/onlineServiceHall/meterReading.html"><span></span>用水抄表计划</a></li>
                <li><a><span></span>办事指南</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/guidelines.html">海润自来水集团</a></li>
                    <li><a href="../../html/onlineServiceHall/guidelines.html">胶州自来水公司</a></li>
                    <li><a href="../../html/onlineServiceHall/guidelines.html">高新海润水务</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/packing.html"><span></span>用水报装智慧报装</a></li>
                <li><a><span></span>"青水管＋"特色服务</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/characteristic.html">"一免、一查、一服务"</a></li>
                    <li><a href="../../html/onlineServiceHall/characteristic.html">有偿服务收费标准</a></li>
                  </ul>
                </li>
                <li><a><span></span>安全警示常识</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/securitySense.html">用水常识</a></li>
                    <li><a href="../../html/onlineServiceHall/securitySense.html">排水常识</a></li>
                    <li><a href="../../html/onlineServiceHall/securitySense.html">设施辨识</a></li>
                  </ul>
                </li>
                <li><a><span></span>网上留言及回复</a>
                  <ul class="two_menu">
                    <li><a href="../../html/onlineServiceHall/message.html">96111回复</a></li>
                    <li><a href="../../html/onlineServiceHall/message.html">在线留言</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/inform.html"><span></span>网上举报</a></li>
              </ul>
            </li>
            <li class="nav_special_li"><span>营商环境</span>
              <ul class="sub_menu">
                <li><a><span></span>相关政策</span></a>
                  <ul class="two_menu">
                    <li><a href="../../html/environment/policy.html">国家政策</a></li>
                    <li><a href="../../html/environment/policy.html">山东省政策</a></li>
                    <li><a href="../../html/environment/policy.html">青岛市政策</a></li>
                  </ul>
                </li>
                <li><a href="../../html/onlineServiceHall/packing.html"><span></span>用水报装</a></li>
                <li><a href="../../html/onlineServiceHall/guidelines.html"><span></span>办事指南</a></li>
                <li><a href="../../html/environment/promise.html"><span></span>服务承诺</a></li>
                <li><a href="../../html/InformationDisclosure/policy.html"><span></span>信息公示</a></li>
              </ul>
            </li>
            <li><span>水务科技</span>
              <ul class="sub_menu">
                <li><a href="../../html/technology/achievement.html"><span></span>成果展示</span></a></li>
                <li><a href="../../html/technology/dynamic.html"><span></span>科技动态</a></li>
              </ul>
            </li>
            <!-- <li class="navAct"><span>网上博物馆</span>
              <ul class="sub_menu">
                <li><a href="../../html/museum/brief.html"><span></span>博物馆简介</span></a></li>
                <li><a href="http://www.qdwater.com.cn/exhibition/?scene_id=80142705"><span></span>网上博物馆</a></li>
                <li><a href="../../html/museum/appointment.html"><span></span>参观预约</a></li>
                <li><a href="../../html/museum/historical.html"><span></span>供排水史记</a></li>
              </ul>
            </li> -->
          </ul>
          <div class="search_box">
            <input type="text" class="search_input" />
            <img src="../../imgs/magnifying.png" alt="" />
          </div>
        </nav>
      </div>
      <!-- 手机头部 -->
      <div class="burger">
        <img src="../../imgs/index/logo.png" alt="" />
        <div class="menu"></div>
      </div>

      <!-- 手机导航 -->
      <ul id="phoneNav" style="display: none">
        <li class="navAct">首页</li>
        <li>集团概况</li>
        <li>新闻资讯</li>
        <li>党建工作</li>
        <li>信息公开</li>
        <li>网上服务厅</li>
        <li>营商环境</li>
        <li>水务科技</li>
      </ul>
      <div class="empty"></div>

      <div class="banner flex_column_center">
        <img src="../../imgs/museum/bg.png" class="about_img" />
        <div class="banner_content">
          <div class="banner_slogan">
            <p class="banner_title">网上博物馆</p>
            <p class="banner_title_en">Online museum</p>
          </div>
          <div class="banner_crumbs">
            您当前的位置：首页 / 网上博物馆 / 参观预约
          </div>
        </div>
        <div class="company_profile_title">
          <span>参观预约</span>
        </div>
      </div>

      <div class="main flex_column_center">
        <div>
          <ul class="main_nav">
            <li><a href="./brief.html">博物馆简介</a></li>
            <li><a href="http://www.qdwater.com.cn/exhibition/?scene_id=80142705" target="_blank">网上博物馆</a></li>
            <li><a class="main_nav_active" href="./appointment.html">参观预约</a></li>
            <li><a href="./historical.html">供排水史记</a></li>
          </ul>
        </div>
        <div class="main_content flex_column_center">
          <div class="main_title">青岛水务博物馆社会团体参观须知</div>
          <div class="main_txt">
            为保障参观人员及展品安全，营造文明参观环境，请预约参观人员阅读以下须知：<br><br>
            1. 博物馆开馆时间：周一至周五9:00—15:30(国家法定工作日)，14:30后停止入馆。因各馆场地限制，本馆仅接受团体（10人以上）预约，上、下午各接待1个团队参观，每场讲解参观最多接待30人，提供免费讲解。如人数过多，博物馆将酌情分批安排游览路线。<br><br>
            2. 为保证水源地及崂山水库厂区安全，团体参观请持单位介绍信及领队身份证进行预约并参观。<br><br>
            3. 参观请提前3天预约，届时博物馆工作人员将与于您联系确定参观时间。<br><br>
            4. 遵守博物馆内《参观安全须知》，听从工作人员安排，不得进入非参观区域，在参观景观池、生产场所、大坝等区域时，请保持安全距离，遵守秩序，服从管理，避免发生危险。
          </div>
          <div class="main_title">青岛水务博物馆社会<span style="color: #28a6e2;">团体参观</span>预约登记表</div>
        </div>
        <form action="">
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">团队名称：</div>
            <el-input
              v-model="name"
              placeholder="请输入您的团队名称"
            ></el-input>
          </div>
          <div class="form_item people_num">
            <p class="requied">*</p>
            <div class="form_label">人  数：</div>
            <el-input v-model="name"></el-input>
            人 
            <span>10人以上</span>
          </div>
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">经办人姓名：</div>
            <el-input
              v-model="name"
              placeholder="请输入经办人姓名"
            ></el-input>
          </div>
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">负责人姓名：（领队）</div>
            <el-input
              v-model="name"
              placeholder="请输入您的姓名"
            ></el-input>
          </div>
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">身份证号码：</div>
            <el-input
              v-model="name"
              placeholder="请输入您的身份证号码"
            ></el-input>
          </div>
          <div class="form_item annex">
            <p class="requied">*</p>
            <div class="form_label">附件：</div>
            <div>
              <div class="annex_top">
                <input type="file" />
              </div>
            </div>
          </div>
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">联系电话：</div>
            <el-input
              v-model="name"
              placeholder="请输入您的联系电话"
            ></el-input>
          </div>
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">预约日期：</div>
            <el-date-picker
              v-model="value1"
              type="date"
              placeholder="选择日期"
            ></el-date-picker>
            <el-checkbox-group v-model="checkList">
              <el-checkbox label="上午9:00-11:00">上午9:00-11:00</el-checkbox>
              <el-checkbox label="下午13:00-15:00">下午13:00-15:00</el-checkbox>
            </el-checkbox-group>
          </div>
          <div class="form_item">
            <p class="requied">*</p>
            <div class="form_label">验证码：</div>
          </div>
          <div class="form_btn flex_column_center">
            <el-button>提交申请</el-button>
          </div>
        </form>
      </div>

      <!-- 底部 -->
      <div class="info flex_column_center">
        <div class="info_area">
          <img
            class="logo_bottom"
            src="../../imgs/index/logo-bottom.png"
            alt=""
          />
          <div class="info_middle">
            <div class="info_middle_select">
              <div class="info_middle_div">
                <p>
                  <span>水行业相关网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="http://www.mwr.gov.cn/" target="_blank"
                    >中华人民共和国水利部</a
                  >
                  <a href="https://www.h2o-china.com/" target="_blank"
                    >中国水网</a
                  >
                  <a href="https://www.cuwa.org.cn/" target="_blank"
                    >中国城镇供水协会</a
                  >
                  <a href="http://www.watergasheat.com/" target="_blank"
                    >中国给水排水</a
                  >
                  <a href="http://www.water.hc360.com/" target="_blank"
                    >慧聪水工业网</a
                  >
                  <a href="https://www.shanghaiwater.com/" target="_blank"
                    >中国水务网
                  </a>
                  <a href="https://www.shanghaiwater.com/" target="_blank"
                    >上海城投</a
                  >
                  <a href="https://www.sz-water.com.cn/" target="_blank"
                    >深圳环境水务集团</a
                  >
                </div>
              </div>
              <div class="info_middle_div">
                <p>
                  <span>供排水企业网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="https://www.bdc.cn/" target="_blank"
                    >北京城市排水集团有限责任公司</a
                  >
                  <a href="http://www.tjwatergroup.com/" target="_blank"
                    >天津水务集团</a
                  >
                  <a href="http://www.jlwater.com/" target="_blank"
                    >南京水务集团有限公司</a
                  >
                  <a href="https://www.cncqsw.com/" target="_blank"
                    >重庆水务集团股份有限公司</a
                  >
                  <a href="http://www.hzwgc.com/" target="_blank"
                    >杭州市水务集团有限公司</a
                  >
                  <a href="http://www.ningbowater.com/" target="_blank"
                    >宁波市水务环境集团有限公司
                  </a>
                  <a href="https://www.cdenvironment.com/" target="_blank"
                    >成都环境集团</a
                  >
                  <a href="http://www.changchunwater.com/" target="_blank"
                    >吉林省长春水务集团有限责任公司</a
                  >
                  <a href="http://www.hrbgongshui.com/" target="_blank"
                    >哈尔滨供水集团有限责任公司</a
                  >
                  <a href="http://www.syswgw.com/" target="_blank"
                    >沈阳水务集团</a
                  >
                  <a href="https://www.xashuiwu.com/" target="_blank"
                    >西安水务（集团）有限责任公司</a
                  >
                </div>
              </div>
              <div class="info_middle_div">
                <p>
                  <span>其他行业网站</span>
                  <span>▼</span>
                </p>
                <div class="website">
                  <a href="http://www.projectbidding.cn/" target="_blank"
                    >工程信息与招标网</a
                  >
                  <a href="http://www.pv365.com/" target="_blank"
                    >中国泵阀信息网</a
                  >
                  <a href="http://www.1718cn.com/" target="_blank"
                    >中国中国仪器仪表大市场</a
                  >
                </div>
              </div>
            </div>
            <p>
              <span>青岛水务集团有限公司版权所有Copyright © 2022</span>
              <span>鲁ICP备05053132号</span>
            </p>
          </div>
          <div class="info_right">
            <p style="margin-right: 23px">
              <img src="../../imgs/index/swgzh.png" alt="" />
              <span>青岛水务集团</span>
              <span>公众微信号</span>
            </p>
            <p>
              <img src="../../imgs/index/xfgzh.png" alt="" />
              <span>青岛水务先锋</span>
              <span>公众微信号</span>
            </p>
          </div>
        </div>
        <div class="info_wave">
          <svg
            class="waves"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28"
            preserveAspectRatio="none"
            shape-rendering="auto"
          >
            <defs>
              <path
                id="gentle-wave"
                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
              />
            </defs>
            <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="#D6ECF5" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="#9BD1ED" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#6FB9E9" />
            </g>
          </svg>
        </div>
      </div>

      <div class="footer flex_column_center">
        <footer>
          <span>http://www.qdwater.com.cn</span>
          <span>青岛亚讯图航网络科技有限公司 技术支持</span>
        </footer>
      </div>
    </div>

    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            checkList:[]
          };
        },
        methods: {},
      })
      .use(ElementPlus, { locale: ElementPlusLocaleZhCn })
      .mount("#app");
    </script>
    <script src="../../js/common.js"></script>
  </body>
</html>
