.main {
  line-height: 33px;
}
.develop {
  width: 68%;
  position: relative;
}
.intro_img {
  width: 100%;
  margin-bottom: 60px;
}
.develop div {
  width: 62%;
  /* height: 28%;
  overflow: auto; */
  color: #394e69;
  position: absolute;
  top: 64%;
  left: 34%;
}
.information,
.course {
  width: 62%;
}
.information p {
  text-indent: 2em;
  margin-bottom: 30px;
}
.information p span {
  color: #394e69;
  font-size: 18px;
  font-weight: bold;
}
.information p:last-child {
  margin-bottom: 90px;
}
.course {
  margin-bottom: 100px;
}
#leadership {
  position: absolute;
  width: 100%;
  height: 135px;
  top: 1558px;
}
.iceberg {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  /* background: url("../../imgs/aboutUs/iceberg.png") no-repeat; */
  /* background-size: auto; */
  background: linear-gradient(0deg, #ddf5fc, #b1d8f2);
  padding-top: 98px;
  padding-bottom: 196px;
}
.ice_mountain {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.important_people {
  width: 62%;
}
.important_people li {
  padding-left: 15%;
  border-bottom: 1px solid #abcfe7;
  display: flex;
  align-items: flex-start;
  position: relative;
  line-height: 40px;
  margin-top: 2%;
}
.important_people li:first-child {
  margin-top: 0;
}
.important_people li:last-child {
  border-bottom: 0;
}
.people_name {
  position: absolute;
  left: 40px;
  font-size: 20px;
  font-weight: bold;
}
.company {
  padding-top: 150px;
  position: relative;
  width: 100%;
}
.company_content {
  position: relative;
  width: 1182px;
}
.company_title {
  height: 36px;
  line-height: 34px;
  font-size: 37px;
  font-weight: bold;
  position: absolute;
  top: -6%;
}
.main_img {
  width: 100%;
}
.company_name {
  position: absolute;
}
.company_name div a {
  font-size: 18px;
  line-height: 40px;
  color: #394e69;
}
.company_name p a {
  text-indent: 2em;
  line-height: 25px;
  color: #5086c2;
}
.company_name_one {
  top: 20%;
  left: 67%;
}
.company_name_two {
  top: 39%;
  left: 73%;
}
.company_name_three {
  top: 469px;
  left: 69%;
}
.company_name_four {
  top: 71%;
  left: 23%;
}
.company_name_five {
  top: 61%;
  left: 12%;
}
.company_name_six {
  top: 41%;
  left: 8%;
}
.company_name_seven {
  top: 148px;
  left: 110px;
}
.company_name_eight {
  top: 2%;
  left: 600px;
}
.mask_layer {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 200;
  color: #ddf5fc;
  padding-top: 99px;
  box-sizing: border-box;
}
.mask_img {
  position: absolute;
  top: 37px;
  right: 40px;
  cursor: pointer;
}
.mask_title {
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  padding: 0 20px 20px;
  border-bottom: 1px solid #186daa;
  margin-bottom: 60px;
}
.mask_main {
  width: 1200px;
  line-height: 26px;
}
.develop_holder {
  display: none;
}

@media (max-width: 1800px) {
  .develop div {
    top: 57%;
  }
}
@media (max-width: 1600px) {
  .develop div {
    top: 53%;
  }
}
@media (max-width: 1500px) {
  .company {
    line-height: 25px;
  }
}
@media (max-width: 800px) {
  .main {
    line-height: 22px;
  }
  .develop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .intro_img {
    position: absolute;
    width: 95%;
    margin-bottom: 0;
  }
  .develop div {
    width: 85%;
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;
    margin-top: 115px;
  }
  .develop_holder {
    display: block;
    width: 100px;
    height: 70px;
    float: left;
    clear: both;
  }
  .information,
  .course {
    width: 85%;
  }
  .information p:last-child {
    margin-bottom: 30px;
  }
  .information p span {
    font-size: 15px;
  }
  .course {
    margin-bottom: 40px;
  }
  .iceberg {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .important_people {
    width: 85%;
  }
  .important_people li {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 10px 0 10px 80px;
    text-indent: 2em;
  }
  .important_people li:last-child {
    padding-left: 0;
    text-align: 2em;
  }
  .people_name {
    line-height: 18px;
    font-size: 18px;
    left: 0%;
  }
  .company {
    padding-top: 30px;
  }
  .company .company_content {
    width: 85%;
  }
  .company_content > div {
    position: initial;
  }
  .main_img {
    display: none;
  }
  .company_title {
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .company_content .company_name a {
    line-height: 20px;
    font-size: 16px;
  }
  .company_name {
    margin-bottom: 10px;
  }
  .company_name:last-child {
    display: flex;
    flex-direction: column-reverse;
  }
  .mask_layer {
    padding: 99px 15px 30px;
  }
  .mask_img {
    width: 30px;
    right: 30px;
  }
  .mask_title {
    font-size: 22px;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .mask_main {
    width: 100%;
    line-height: 22px;
  }
}
