.main {
  line-height: 33px;
}
.develop {
  width: 68%;
  position: relative;
}
.intro_img {
  width: 100%;
  margin-bottom: 60px;
}
.develop div {
  width: 62%;
  /* height: 28%;
  overflow: auto; */
  color: #394e69;
  position: absolute;
  top: 64%;
  left: 34%;
  text-align: justify;
}
.information {
  width: 62%;
  text-align: justify;
}
.information p {
  text-indent: 2em;
  margin-bottom: 30px;
}
.information p span {
  color: #394e69;
  font-size: 18px;
  font-weight: bold;
}
.information p:last-child {
  margin-bottom: 90px;
}
.course {
  width: 1181px;
  /* margin-bottom: 100px; */
  position: relative;
}
.course_img {
  width: 100%;
}
.course_area {
  position: absolute;
  color: #fefeff;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  width: 248px;
  height: 95px;
  box-sizing: border-box;
  padding-top: 20px;
  text-shadow: 2px 2px 4px black;
}
.course_area_top {
  margin-bottom: 10px;
}
.course_area_bottom span {
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
}
.course_area_one {
  top: 7px;
  left: 12px;
}
.course_area_two {
  top: 7px;
  left: 305px;
}
.course_area_three {
  top: 7px;
  left: 596px;
}
.course_area_four {
  top: 7px;
  left: 888px;
}
.course_area_five {
  top: 140px;
  left: 55px;
}
.course_area_six {
  top: 140px;
  left: 346px;
}
.course_area_seven {
  top: 140px;
  left: 635px;
}
.course_area_eight {
  top: 140px;
  left: 926px;
}
#leadership {
  width: 100%;
  height: 130px;
}
.iceberg {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: url("../../imgs/aboutUs/iceberg1.png") no-repeat;
  background-size: 100% 100%;
  /* background: linear-gradient(0deg, #ddf5fc, #b1d8f2); */
  padding-top: 98px;
  padding-bottom: 196px;
}
.ice_mountain {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.important_people {
  width: 62%;
}
.important_people li {
  padding-left: 15%;
  border-bottom: 1px solid #abcfe7;
  display: flex;
  align-items: flex-start;
  position: relative;
  line-height: 40px;
  margin-top: 2%;
}
.important_people li:first-child {
  margin-top: 0;
}
.important_people li:last-child {
  border-bottom: 0;
}
.people_name {
  position: absolute;
  left: 40px;
  font-size: 20px;
  font-weight: bold;
}
.company {
  padding-top: 150px;
  position: relative;
  width: 100%;
}
.company_content {
  position: relative;
  width: 1182px;
}
.company_title {
  height: 36px;
  line-height: 34px;
  font-size: 37px;
  font-weight: bold;
  position: absolute;
  top: -6%;
}
.main_img {
  width: 100%;
}
.company_name {
  position: absolute;
}
.company_name div > a {
  font-size: 18px;
  line-height: 40px;
  color: #394e69;
}
.company_name p a {
  text-indent: 2.5em;
  line-height: 25px;
  color: #5086c2;
}
.company_name p a:hover {
  text-decoration: underline;
}
.company_name_one {
  top: 20%;
  left: 67%;
}
.company_name_two {
  top: 39%;
  left: 73%;
}
.company_name_three {
  top: 469px;
  left: 69%;
}
.company_name_four {
  top: 71%;
  left: 23%;
}
.company_name_five {
  top: 61%;
  left: 12%;
}
.company_name_six {
  top: 41%;
  left: 8%;
}
.company_name_seven {
  top: 148px;
  left: 110px;
}
.company_name_eight {
  top: 2%;
  left: 600px;
}
.mask_layer {
  width: 100%;
  height: calc(100vh + 6px);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 600;
  color: #ddf5fc;
  padding-top: 99px;
  box-sizing: border-box;
}
.mask_img {
  position: absolute;
  top: 37px;
  right: 40px;
  cursor: pointer;
}
.mask_title {
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  padding: 0 20px 20px;
  border-bottom: 1px solid #186daa;
  margin-bottom: 60px;
}
.mask_main {
  width: 1200px;
  line-height: 26px;
}
.develop_holder {
  display: none;
}

@media (max-width: 1800px) {
  .develop div {
    top: 57%;
  }
}
@media (max-width: 1600px) {
  .develop div {
    top: 53%;
  }
}
@media (max-width: 1500px) {
  .company {
    line-height: 25px;
  }
}
@media (max-width: 1220px) {
  .develop {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .intro_img {
    position: absolute;
  }
  .develop div {
    width: 750px;
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;
    margin-top: 280px;
  }
  .develop_holder {
    display: block;
    width: 240px;
    height: 165px;
    float: left;
    clear: both;
  }
  .information {
    width: 750px;
  }
  .course {
    width: 800px;
  }
  .course_area {
    width: 170px;
    height: 65px;
    font-size: 14px;
    line-height: 10px;
    padding-top: 0;
  }
  .course_area_bottom span {
    font-size: 16px;
  }
  .course_area_one {
    top: 21px;
    left: 7px;
  }
  .course_area_two {
    top: 21px;
    left: 205px;
  }
  .course_area_three {
    top: 21px;
    left: 403px;
  }
  .course_area_four {
    top: 21px;
    left: 600px;
  }
  .course_area_five {
    top: 110px;
    left: 36px;
  }
  .course_area_six {
    top: 110px;
    left: 234px;
  }
  .course_area_seven {
    top: 110px;
    left: 429px;
  }
  .course_area_eight {
    top: 110px;
    left: 627px;
  }
  .important_people {
    width: 750px;
  }
  .company_content {
    width: 800px;
    height: 550px;
  }
  .company_content img {
    width: 640px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .company_name div > a {
    line-height: 30px;
  }
  .company_name_one {
    top: 148px;
    left: 512px;
  }
  .company_name_two {
    top: 240px;
    left: 535px;
  }
  .company_name_three {
    top: 300px;
    left: 520px;
  }
  .company_name_four {
    top: 382px;
    left: 72px;
  }
  .company_name_five {
    top: 312px;
    left: 50px;
  }
  .company_name_six {
    top: 225px;
    left: 8px;
  }
  .company_name_seven {
    top: 122px;
    left: 26px;
  }
  .company_name_eight {
    top: 10px;
    left: 370px;
  }
  .mask_main {
    width: 90%;
  }
  .mask_img {
    width: 50px;
  }
  .mask_title {
    font-size: 30px;
    line-height: 30px;
    height: 35px;
    margin-bottom: 35px;
  }
}
@media (max-width: 1020px) {
  .develop {
    width: 818px;
  }
}
@media (min-width: 650px) and (max-width: 820px) {
  .develop {
    width: 100%;
  }
  .intro_img {
    width: 95%;
  }
  .develop div,
  .information,
  .important_people {
    width: 90%;
  }
  .develop div {
    margin-top: 230px;
  }
  .course {
    width: 100%;
  }
  .course_area {
    width: 21%;
  }
  .course_area_one {
    top: 9.3%;
    left: 0.9%;
  }
  .course_area_two {
    top: 9.3%;
    left: 25.6%;
  }
  .course_area_three {
    top: 9.3%;
    left: 50.3%;
  }
  .course_area_four {
    top: 9.3%;
    left: 75%;
  }
  .course_area_five {
    top: 49.2%;
    left: 4.5%;
  }
  .course_area_six {
    top: 49.2%;
    left: 29.2%;
  }
  .course_area_seven {
    top: 49.2%;
    left: 53.6%;
  }
  .course_area_eight {
    top: 49.2%;
    left: 78.3%;
  }
  .people_name {
    left: 25px;
  }
}
@media (max-width: 800px) {
  .company_content {
    width: 90%;
  }
  .company {
    padding-top: 30px;
  }
  .company_content {
    height: auto;
  }
  .company_content > div {
    position: initial;
  }
  .main_img {
    display: none;
  }
  .company_title {
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .company_name {
    margin-bottom: 10px;
  }
  .company_content .company_name div a {
    line-height: 30px;
    font-size: 18px;
  }
  .company_content .company_name p a {
    line-height: 25px;
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .main {
    line-height: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  .develop {
    width: 100%;
  }
  .intro_img {
    width: 95%;
    margin-bottom: 0;
  }
  .develop div {
    width: 85%;
    margin-top: 130px;
  }
  .develop_holder {
    width: 100px;
    height: 60px;
  }
  .information,
  .important_people,
  .company .company_content {
    width: 85%;
  }
  .information p:last-child {
    margin-bottom: 30px;
  }
  .information p span {
    font-size: 15px;
  }
  .course {
    width: 330px;
    margin-bottom: 40px;
  }
  #leadership {
    display: none;
  }
  .iceberg {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .important_people li {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 10px 0 10px 80px;
  }
  .important_people li:last-child {
    padding-left: 0;
    text-indent: 2em;
  }
  .people_name {
    line-height: 18px;
    font-size: 18px;
    left: 0%;
  }
  /* .company_name:last-child {
    display: flex;
    flex-direction: column-reverse;
  } */
  .mask_layer {
    padding: 99px 15px 30px;
  }
  .mask_img {
    width: 30px;
    right: 30px;
  }
  .mask_title {
    font-size: 22px;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .mask_main {
    width: 100%;
    line-height: 22px;
  }
  .course_area {
    font-size: 12px;
    line-height: 10px;
    transform: scale(0.5);
    transform-origin: 0 0;
    width: 139px;
    height: 54px;
    padding-top: 12px;
  }
  .course_area_bottom span {
    font-size: 14px;
  }
  .course_area_one {
    top: 2px;
    left: 3px;
  }
  .course_area_two {
    top: 2px;
    left: 85px;
  }
  .course_area_three {
    top: 2px;
    left: 167px;
  }
  .course_area_four {
    top: 2px;
    left: 248px;
  }
  .course_area_five {
    top: 39px;
    left: 15px;
  }
  .course_area_six {
    top: 39px;
    left: 97px;
  }
  .course_area_seven {
    top: 39px;
    left: 177px;
  }
  .course_area_eight {
    top: 39px;
    left: 259px;
  }
}
