.logotype,
.main_content {
  width: 1200px;
}
.logotype,
.main_content,
.main_content_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logotype {
  margin-bottom: 100px;
}
.logotype_img {
  width: 357px;
  height: 390px;
}
.logotype_img img {
  width: 100%;
  height: 100%;
}
.logotype_content {
  width: 716px;
  height: 100%;
  line-height: 30px;
}
.logotype_title {
  font-size: 22px;
  line-height: 51px;
}
.logotype_paragraph {
  text-indent: 2em;
}
.main_content {
  height: 540px;
}
.brand {
  width: 295px;
  height: 100%;
}
.brand img {
  width: 100%;
  height: 100%;
}
.main_content_right {
  height: 540px;
  justify-content: space-between;
}
.item_left {
  width: 294px;
  height: 261px;
  background-color: #b1d8f2;
  box-sizing: border-box;
  position: relative;
  margin-right: 15px;
}
.runwj {
  width: 232px;
  margin: 0 auto;
  margin-top: 50px;
}
.changwj {
  width: 228px;
  margin: 0 auto;
  margin-top: 82px;
}
.item_btn {
  position: absolute;
  right: 23px;
  bottom: 25px;
}
.item_btn p {
  width: 45px;
  height: 1px;
  background-color: #186daa;
  margin-bottom: 20px;
}
.item_btn > div {
  display: flex;
  align-items: center;
}
.item_btn span {
  height: 16px;
  color: #186daa;
  line-height: 16px;
  margin-right: 12px;
  transition: all 0.3s ease;
}
.item_btn i {
  width: 16px;
  height: 16px;
}
.item_right {
  width: 582px;
  height: 261px;
}
.item_right img {
  width: 100%;
  height: 100%;
}
.main_content_item:hover span {
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .logotype,
  .main_content {
    width: 800px;
  }
  .logotype_img {
    margin-right: 30px;
  }
  .logotype_content {
    flex: 1;
  }
  .main_content,
  .main_content_right {
    height: 360px;
  }
  .brand,
  .item_left {
    width: 195px;
  }
  .item_left,
  .item_right {
    height: 175px;
  }
  .item_left {
    margin-right: 10px;
  }
  .item_right {
    width: 390px;
  }
  .runwj {
    width: 155px;
    margin-top: 30px;
  }
  .changwj {
    width: 160px;
    margin-top: 55px;
  }
  .item_btn {
    bottom: 15px;
  }
}
