.main {
  padding: 70px 0;
}
.architecture {
  width: 48%;
}
.main_draw {
  width: 68%;
  height: 1px;
  background-color: #b1d8f2;
  margin: 50px 0;
}
.hr_dept {
  width: 44%;
}
.architecture img,
.hr_dept img {
  width: 100%;
}
