.main > div:first-child {
  width: 1200px;
  position: absolute;
  top: 0;
}
.main_content {
  width: 1200px;
}
.main_title {
  height: 37px;
  font-size: 37px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 64px;
}
.main_form {
  width: 100%;
  padding-bottom: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.steps {
  display: flex;
  align-items: center;
  margin: 80px auto 84px;
}
.steps span {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 50%;
}
.steps span i {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #dddddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.steps_line {
  width: 200px;
  height: 1px;
  background: #dddddd;
}
.steps .finish_steps {
  border: 1px solid #007cd2;
}
.steps .finish_steps i {
  background: #007cd2;
}
.steps_txt {
  white-space: nowrap;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
form {
  width: 1000px;
  line-height: 16px;
}
.form_item {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  padding: 10px 5px;
}
form > .form_item:first-child {
  border-top: 1px solid #dddddd;
}
.requied {
  display: inline-block;
  width: 11px;
  height: 11px;
  line-height: 22px;
  font-size: 29px;
  color: #e4007f;
  margin-right: 5px;
}
.form_label {
  width: 150px;
}
.choose_one_of_three {
  width: 100%;
  display: flex;
  align-items: center;
}
.choose_one_of_three_left {
  width: 760px;
  box-sizing: border-box;
  padding-right: 20px;
}
.choose_one_of_three_right {
  width: 240px;
  box-sizing: border-box;
  padding-left: 30px;
  display: flex;
  align-items: center;
  border-left: 1px solid #dddddd;
}
.annex {
  height: auto;
  padding: 30px 0;
}
.annex_top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.annex div p {
  line-height: 20px;
  word-break: break-all;
}
.promise {
  height: auto;
  padding: 30px;
  border-bottom: 1px solid #dddddd;
}
.promise > p {
  line-height: 22px;
  margin-bottom: 30px;
}
.promise div {
  display: flex;
  align-items: center;
}
.promise .requied {
  margin: 0 5px;
}
.form_btn {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_captcha {
  margin-right: 20px;
}
.type_radio div {
  float: left;
}
@media (max-width: 1220px) {
  .main > div:first-child,
  .main_img img,
  .main_content {
    width: 800px;
  }
  form {
    width: 700px;
  }
  .type_radio div {
    margin: 5px 0;
  }
}
@media (max-width: 819px) {
  .main > div:first-child,
  .main_img img,
  .main_content,
  form {
    width: 80%;
  }
  .main_title {
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .steps_line {
    width: 80px;
  }
  .form_label {
    width: 80px;
    margin-right: 10px;
  }
  .choose_one_of_three .form_label {
    width: 65px;
    margin-right: 0;
  }
  .choose_one_of_three_right {
    padding-left: 10px;
  }
  .el-checkbox.el-checkbox--large {
    height: 30px;
    margin-right: 15px;
  }
  .form_btn {
    margin-top: 50px;
    flex-direction: column;
  }
  .form_captcha {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .promise .form_label {
    width: auto;
  }
}
@media (max-width: 650px) {
  .main > div:first-child,
  .main_img img,
  .main_content,
  form {
    width: 100%;
  }
}