.main_content {
  width: 1200px;
  line-height: 26px;
}
.bg_img {
  position: relative;
  top: 0;
  left: -67px;
  width: 1334px;
}
.bg_img img {
  width: 100%;
  height: 100%;
}
.main_list {
  width: 100%;
}
.main_title {
  height: 37px;
  font-size: 37px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 58px;
}
.main_form {
  position: relative;
  top: -87px;
  z-index: 10;
  width: 1200px;
  padding: 80px 104px 105px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.form_line {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.prompt {
  line-height: 33px;
  padding: 46px 0 58px;
  margin-bottom: 57px;
  border-bottom: 1px solid #dddddd;
}
.prompt div {
  display: flex;
  align-items: center;
}
form {
  line-height: 16px;
}
.form_item {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding: 30px 5px 30px;
}
form > .form_item:first-child {
  border-top: 1px solid #dddddd;
}
.requied {
  display: inline-block;
  width: 11px;
  height: 11px;
  line-height: 22px;
  font-size: 29px;
  color: #e4007f;
  margin-right: 5px;
}
.form_label {
  width: 150px;
}
.juxtaposition {
  width: 100%;
  display: flex;
  align-items: center;
}
.promise {
  height: auto;
  padding: 30px;
  border-bottom: 1px solid #dddddd;
}
.form_btn {
  margin-top: 60px;
}
.public p {
  color: #e60012;
  line-height: 29px;
  margin-top: 10px;
}
.violators {
  margin: 75px auto 49px;
}
.annex {
  height: auto;
  padding: 30px 0;
}
.annex_top {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .main_content,
  .main_form {
    width: 800px;
  }
  .bg_img {
    top: -29px;
    left: -49px;
    width: 896px;
  }
  .annex_top {
    display: block;
  }
  .annex_top a {
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  .main_content,
  .main_form {
    width: 100%;
  }
  .bg_img {
    display: none;
  }
  .annex_top {
    display: block;
    width: 200px;
  }
  .annex_top a {
    margin-top: 10px;
    word-break: break-word;
  }
  .main_form {
    top: 0;
    padding: 30px 10px 40px;
  }
  .juxtaposition {
    display: block;
  }
  .main_title {
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .prompt {
    padding: 20px 0 30px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .form_label {
    width: 100px;
  }
  .violators {
    margin-top: 30px;
  }
  form .form_item:nth-child(6) {
    padding-top: 0;
  }
}
