.main_content {
  width: 1200px;
}
.main_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main_item {
  width: 360px;
  height: 430px;
  background: url("../../imgs/onlineServiceHall/meter_item_bg.png");
  background-size: 100% 100%;
  margin-right: 60px;
  margin-bottom: 57px;
  position: relative;
  top: 0;
  padding: 67px 50px 25px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.main_item:nth-child(3n) {
  margin-right: 0;
}
.main_item:hover {
  top: -20px;
}
.main_item i {
  position: absolute;
  width: 43px;
  height: 43px;
  top: -8px;
  left: -6px;
}
.main_item i img {
  width: 100%;
  height: 100%;
}
.main_item_title {
  height: 48px;
  font-size: 18px;
  line-height: 26px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 46px;
}
.main_item_date {
  text-align: center;
  line-height: 16px;
  height: 16px;
  color: #186daa;
  margin-bottom: 88px;
}
.main_item_content {
  font-size: 13px;
  line-height: 18px;
}
.main_item_img {
  position: absolute;
  bottom: 25px;
  right: 50px;
}
@media (max-width: 1200px) {
  .main_content {
    width: 800px;
  }
  .main_item {
    width: 385px;
  }
  .main_item,
  .main_item:nth-child(3n) {
    margin-right: 30px;
  }
  .main_item:nth-child(even) {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .main_content {
    width: 100%;
  }
  .main_item {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 45px 40px 20px;
  }
  .main_item:nth-child(3n) {
    margin-right: 0;
  }
  .main_item_title {
    width: 100%;
    margin-bottom: 35px;
  }
  .main_item_date {
    margin-bottom: 50px;
  }
  .main_item:hover {
    top: 0;
  }
}
