.main > div:first-child {
  width: 1314px;
  position: absolute;
  top: 0;
}
.main_content {
  width: 1314px;
  border: 1px solid #bbd3df;
  background-color: #e7f8fd;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.main_title {
  height: 37px;
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 46px;
}
.municipal_window {
  width: 1200px;
}
.municipal_window .municipal_txt {
  text-indent: 2em;
  line-height: 29px;
  margin-bottom: 50px;
}
.municipal_table {
  width: 100%;
  border-spacing: 2px;
}
.municipal_table th,
.municipal_table td.tfoot {
  background-color: #186daa;
}
.municipal_table td {
  background-color: #86b9dc;
}
.left_th {
  width: 33%;
}
.municipal_table td.td_bg_deep {
  background-color: #c1e3f6;
}
.municipal_table td.td_bg_shallow {
  background-color: #e5f7fd;
}
.municipal_table td.td_bg_deep,
.municipal_table td.td_bg_shallow {
  color: #394e69;
}
.tfoot {
  height: 4px;
}
@media (max-width: 1250px) {
  .main > div:first-child,
  .municipal_window,
  .municipal_window img {
    width: 800px !important;
  }
}
@media (max-width: 819px) {
  .main > div:first-child,
  .municipal_window,
  .municipal_window img {
    width: 100% !important;
  }
  .main > div:first-child {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 15px !important;
  }
  .main_title {
    font-size: 18px !important;
    line-height: 18px !important;
    height: auto !important;
    margin-bottom: 15px !important;
    font-weight: bold !important;
  }
  .municipal_window .municipal_txt {
    margin-bottom: 20px !important;
  }
  .main_nav {
    float: none !important;
  }
}
