.main > div:first-child {
  width: 1314px;
  position: absolute;
  top: 0;
}
.main_content {
  width: 1314px;
  border: 1px solid #bbd3df;
  background-color: #e7f8fd;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.main_title {
  height: 37px;
  font-size: 37px;
  line-height: 37px;
  margin-bottom: 46px;
}
#map {
  width: 845px;
  height: 715px;
  border: 1px solid #c1d2e7;
  box-sizing: border-box;
}
.inwater_list {
  width: 317px;
  height: 715px;
}
.inwater_list {
  border-top: 1px solid #4c7dbb;
  box-sizing: border-box;
}
.inwater_list li {
  height: 35px;
  line-height: 35px;
  background-color: #ddf5fc;
  box-sizing: border-box;
}
.inwater_list li {
  border-bottom: 1px solid #c6d9f1;
  padding-left: 20px;
}
.inwater_list li:first-child {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
.inwater_list li:first-child {
  color: #467bb8;
  background-color: #c6d9f1;
}
.inwater_list li:last-child {
  border-bottom: 1px solid #4c7dbb;
}
