.main_content {
  width: 1200px;
  line-height: 29px;
}
.price_area {
  margin: 50px 0 50px;
}
.price_title {
  height: 36px;
  font-size: 37px;
  line-height: 36px;
  margin-bottom: 38px;
}
.price_table {
  width: 1050px;
  height: 490px;
}
.price_table_img {
  width: 100%;
  height: 100%;
}
.microphone {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.microphone img {
  margin-right: 20px;
}
.main_content a {
  color: #394e69;
}
.main_content a:hover {
  text-decoration: underline;
}
