.main > div:first-child {
  width: 1200px;
  position: absolute;
  top: 0;
}
.main_content {
  width: 1200px;
}
.main_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_item {
  width: 360px;
  height: 350px;
  background: url("../../imgs/environment/policy.png");
  background-size: 100% 100%;
  margin-right: 60px;
  margin-bottom: 57px;
  position: relative;
  top: 0;
  padding: 67px 50px 34px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border-right: 1px solid #bcd4df;
  border-bottom: 1px solid #bcd4df;
}
.main_item:nth-child(3n) {
  margin-right: 0;
}
.main_item:hover {
  top: -20px;
}
.main_item_title {
  height: 48px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: justify;
  text-align-last: center;
  overflow: hidden;
}
.main_item_content {
  height: 90px;
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.main_item_img {
  position: absolute;
  bottom: 34px;
  right: 50px;
}
.identification {
  width: 1306px;
}
@media (max-width: 1250px) {
  .main > div:first-child,
  .main_content {
    width: 800px;
  }
  .main_item {
    width: 385px;
  }
  .main_item,
  .main_item:nth-child(3n) {
    margin-right: 30px;
  }
  .main_item:nth-child(even) {
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .main > div:first-child,
  .main_content {
    width: 100%;
  }
  .main_item,
  .main_item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 30px;
    height: 300px;
    padding: 50px 40px 30px;
  }
  .main_item_title {
    margin-bottom: 25px;
  }
  .main_item:hover {
    top: 0;
  }
  .main_item_content {
    font-size: 16px;
    line-height: 20px;
    height: 120px;
  }
}
