.main_content {
  width: 1200px;
  line-height: 26px;
}
.main_title {
  height: 44px;
  font-size: 44px;
  line-height: 42px;
  margin-bottom: 67px;
  text-align: center;
}
.main_content h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
