.list li:first-child a {
  padding-top: 64px;
}
.main_top {
  width: 1200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.main_carousel {
  position: relative;
  display: flex;
}
.main-wrapper {
  position: relative;
}
.main_carousel img {
  height: 360px;
}
.main_carousel img.imgAct {
  animation: imgEffect 5s forwards 0.8s;
}
.main_mask {
  width: 400px;
  height: 100%;
  background: rgba(205, 230, 247, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  color: #394e69;
  padding-top: 40px;
  padding-left: 21px;
  padding-right: 35px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 1s ease;
}
.main_top:hover .main_mask {
  opacity: 1;
}
.main_mask_title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}
.main_mask_content {
  font-size: 15px;
  line-height: 22px;
}
.small_dot {
  display: flex;
  align-items: center;
  position: absolute;
  top: 300px;
  right: 164px;
  z-index: 50;
}
.small_dot li {
  width: 16px;
  height: 16px;
  background: #186daa;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}
.small_dot li.small_dot_active {
  background: #c0747b;
}
.small_dot li:last-child {
  margin-right: 0;
}
@keyframes imgEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.new_hot {
  width: 1200px;
  height: 38px;
  padding-left: 18px;
  padding-right: 24px;
  color: #eeeeee;
  background-color: #c40003;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.new_hot span {
  color: #fff100;
}
@media (max-width: 1220px) {
  .main_top,
  .new_hot,
  .list {
    width: 800px;
  }
  .main_carousel img {
    height: 240px;
  }
  .new_hot {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main_mask {
    padding: 30px 20px 0 15px;
  }
  .main_mask_title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .small_dot {
    top: 200px;
  }
  .hot_main {
    display: flex;
    align-items: center;
  }
  .hot_main span {
    white-space: nowrap;
  }
  .hot_date {
    white-space: nowrap;
  }
}
@media (max-width: 650px) {
  .main_top,
  .new_hot,
  .list {
    width: 100%;
  }
  .main_carousel img {
    height: 120px;
  }
  .main_mask {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    padding: 10px;
  }
  .main_carousel img.imgAct {
    animation: none;
  }
  .main_mask_title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .small_dot {
    right: 50%;
    top: 90px;
    transform: translateX(50%);
  }
  .small_dot li {
    width: 10px;
    height: 10px;
    margin-right: 8px;
  }
  .new_hot {
    padding: 5px;
  }
}
